In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [210]:
df1=pd.read_csv("../Datasets/datasets/olist_closed_deals_dataset.csv")

In [211]:
#insercion dde datasets
df1=pd.read_csv("../Datasets/datasets/olist_closed_deals_dataset.csv")
df2=pd.read_csv("../Datasets/datasets/olist_customers_dataset.csv",dtype={"customer_zip_code_prefix": str})
df3=pd.read_csv("../Datasets/datasets/olist_geolocation_dataset.csv",dtype={"geolocation_zip_code_prefix": str})
df4=pd.read_csv("../Datasets/datasets/olist_marketing_qualified_leads_dataset.csv")
df5=pd.read_csv("../Datasets/datasets/olist_order_items_dataset.csv")
df6=pd.read_csv("../Datasets/datasets/olist_order_payments_dataset.csv")
df7=pd.read_csv("../Datasets/datasets/olist_order_reviews_dataset.csv")
df8=pd.read_csv("../Datasets/datasets/olist_orders_dataset.csv")
df9=pd.read_csv("../Datasets/datasets/olist_products_dataset.csv")
df10=pd.read_csv("../Datasets/datasets/olist_sellers_dataset.csv",dtype={"seller_zip_code_prefix": str})
df11=pd.read_csv("../Datasets/datasets/product_category_name_translation.csv")

## ETL olistcustomers_dataset

In [212]:
dfcostumers=df2

In [213]:
dfcostumers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [214]:
dfcostumers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB

In [215]:
#Eliminamos las columnas que son redundantes
dfcostumers.drop(columns=["customer_city","customer_state"],axis=1,inplace=True)

In [216]:
dfcostumers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,09790
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,01151
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,08775
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056

In [217]:
dfcostumers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

In [218]:
#Exportamos el csv final
dfcostumers.to_csv("../Datasets/datasetsout/olist_customers_dataset.csv",index=False)

In [219]:
dfcostumers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  object
dtypes: object(3)
memory usage: 2.3+ MB

In [220]:
dfcostumers["customer_id"].value_counts()

customer_id
06b8999e2fba1a1fbc88172c00ba8bc7    1
c023f30c1147aeb0358474f3b1dbc707    1
b5cbf43f42281920a175fc99650c91d6    1
19f4e983f8f05b7de16670f8a0cf0ac7    1
229ac14c6ee6d6a606264ebcc861beb7    1
                                   ..
31665bd5bc542687ab54c9fd9ed9917b    1
37fb9cce079a4887c96b59bae2011d05    1
1d815f3ad9b2017b6da2c4f1cbb1180b    1
6b05c8f3a25a71005d5eb9b51766c333    1
274fa6071e5e17fe303b9748641082c8    1
Name: count, Length: 99441, dtype: int64

In [221]:
dfcostumers["customer_unique_id"].value_counts()

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
                                    ..
081f07439678af2da7755a0aa572154d     1
9c57789a6a587f4efcfb01e36c106014     1
9e4c21635f640562de1a6976374fba03     1
06c0ea6ee892364d1608ee47aa9f56a0     1
84732c5050c01db9b23e19ba39899398     1
Name: count, Length: 96096, dtype: int64

## ETL olist_order_items_dataset.csv

In [222]:
dfitems=df5

In [223]:
dfitems.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [224]:
dfitems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

In [225]:
#Cambiamos tipo de dato  de la columna shipping_limit_date  a fecha y hora
dfitems["shipping_limit_date"]=pd.to_datetime(dfitems["shipping_limit_date"],format="%Y-%m-%d %H:%M:%S")

In [226]:
dfitems.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [227]:
dfitems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  datetime64[ns]
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 6.0+ MB

In [228]:
#Exportamos a csv final
dfitems.to_csv("../Datasets/datasetsout/olist_order_items_dataset.csv",index=False)

## ETL olist_order_payments_dataset.csv

In [229]:
dfpayments=df6

In [230]:
dfpayments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [231]:
dfpayments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [232]:
#Solo para ver los precios y freight_value para un mismo order_id de las tablas payments y items
dfitems[dfitems["order_id"]=="03ecec245220b63fd7f68c1737ba99ba"]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
1713,03ecec245220b63fd7f68c1737ba99ba,1,d8cabd83757ecf48a7d2628dee9135c1,fe2032dab1a61af8794248c8196565c9,2018-06-13 20:23:08,189.0,58.78
1714,03ecec245220b63fd7f68c1737ba99ba,2,059ca09d32720d9adce3ae12e181339d,620c87c171fb2a6dd6e8bb4dec959fc6,2018-06-15 20:23:08,109.9,18.05

In [233]:
#Solo para ver el payment_value e para un mismo order_id de los dataframe dfpayments y dfitems
dfpayments[dfpayments["order_id"]=="03ecec245220b63fd7f68c1737ba99ba"]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4151,03ecec245220b63fd7f68c1737ba99ba,2,voucher,1,56.39
22318,03ecec245220b63fd7f68c1737ba99ba,1,credit_card,2,319.34

In [234]:
#Eliminamos columna payment_sequential que no usaremos
dfpayments.drop(columns="payment_sequential",inplace=True)

In [235]:
dfpayments.head()

,order_id,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,credit_card,2,128.45

In [236]:
dfpayments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 4 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_type          103886 non-null  object
 2   payment_installments  103886 non-null  int64
 3   payment_value         103886 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

In [237]:
#Exportamos csv final
dfpayments.to_csv("../Datasets/datasetsout/olist_order_payments_dataset.csv",index=False)

-----------------------------------

In [238]:
#Creamos una tabla auxiliar que se unira a la tabla dforder
dftotalordercost=dfpayments.groupby(['order_id']).sum()
dftotalordercost=dftotalordercost.drop(columns=["payment_installments"])
dftotalordercost.rename(columns={"payment_value":"total_order_cost"},inplace=True)

In [239]:
#Para hacer join con la el dataframe dforder
dftotalordercost.head()

                                 payment_type  total_order_cost
order_id
00010242fe8c5a6d1ba2dd792cb16214  credit_card             72.19
00018f77f2f0320c557190d7a144bdd3  credit_card            259.83
000229ec398224ef6ca0657da4fc703e  credit_card            216.87
00024acbcdf0a6daa1e931b038114c75  credit_card             25.78
00042b26cf59d7ce69dfabb4e55b4fd9  credit_card            218.04

--------------------

## ETL olist_order_reviews_dataset

In [240]:
dfreviews=df7

In [241]:
dfreviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [242]:
#Cambiamos tipo de dato a fecha y hora en las columnas review_creation_date y review_answer_timestamp
dfreviews["review_creation_date"]=pd.to_datetime(dfreviews["review_creation_date"],format="%Y-%m-%d %H:%M:%S")
dfreviews["review_answer_timestamp"]=pd.to_datetime(dfreviews["review_answer_timestamp"],format="%Y-%m-%d %H:%M:%S")

In [243]:
#Llenamos vacios, SIN TITULO para la columna review_comment_title y SIN COMENTARIOS para review_comment_message
dfreviews["review_comment_title"].fillna("SIN TITULO",inplace=True)
dfreviews["review_comment_message"].fillna("SIN COMENTARIOS",inplace=True)

In [244]:
dfreviews.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,SIN TITULO,SIN COMENTARIOS,2018-01-18,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,SIN TITULO,SIN COMENTARIOS,2018-03-10,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,SIN TITULO,SIN COMENTARIOS,2018-02-17,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,SIN TITULO,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,SIN TITULO,Parabéns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [245]:
dfreviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     99224 non-null  object
 4   review_comment_message   99224 non-null  object
 5   review_creation_date     99224 non-null  datetime64[ns]
 6   review_answer_timestamp  99224 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 5.3+ MB

In [246]:
#Exportamos csv final
dfreviews.to_csv("../Datasets/datasetsout/olist_order_reviews_dataset.csv",index=False)

## ETL olist_orders_dataset

In [247]:
dforder=df8

In [248]:
dforder.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [249]:
dforder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [250]:
#Cambiamos tipo de dato a fecha y hora para las columnas 
dforder["order_purchase_timestamp"]=pd.to_datetime(dforder["order_purchase_timestamp"],format="%Y-%m-%d %H:%M:%S")
dforder["order_approved_at"]=pd.to_datetime(dforder["order_approved_at"],format="%Y-%m-%d %H:%M:%S")
dforder["order_delivered_carrier_date"]=pd.to_datetime(dforder["order_delivered_carrier_date"],format="%Y-%m-%d %H:%M:%S")
dforder["order_delivered_customer_date"]=pd.to_datetime(dforder["order_delivered_customer_date"],format="%Y-%m-%d %H:%M:%S")
dforder["order_estimated_delivery_date"]=pd.to_datetime(dforder["order_estimated_delivery_date"],format="%Y-%m-%d %H:%M:%S")

In [251]:
#Verificamos vacios para su posterior llenado
dforder.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [252]:
#vemos diferencia entre que se aprueba la compra y en la que el cliente hace la compra
dforder['difference_days1'] = dforder['order_approved_at'] - dforder['order_purchase_timestamp']
#vemos diferencia entre es llevado al flete y en la que se aprueba la compra
dforder['difference_days2'] = dforder['order_delivered_carrier_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se aprueba la compra
dforder['difference_days3'] = dforder['order_delivered_customer_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se lleva al flete
dforder['difference_days4'] = dforder['order_delivered_customer_date'] - dforder['order_delivered_carrier_date']
#vemos diferencia entre la estimacion de la llegada del producto al clinte y el tiempo real en que llega el producto al cliente
dforder['difference_days5'] = dforder['order_estimated_delivery_date'] - dforder['order_delivered_customer_date']

In [253]:
#No hay problema entre los tiempos de order_approved_at y order_purchase_timestamp
dforder[dforder["difference_days1"]<pd.Timedelta(0)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5]
Index: []

In [254]:
#1359 registros tienen problemas entre el tiempo de order_delivered_carrier_date y order_approved_at
dforder[dforder["difference_days2"]<pd.Timedelta(0)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5
15,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 19:03:12,2018-06-12 23:31:02,2018-06-11 14:54:00,2018-06-21 15:34:32,2018-07-04,5 days 04:27:50,-2 days +15:22:58,8 days 16:03:30,10 days 00:40:32,12 days 08:25:28
64,688052146432ef8253587b930b01a06d,81e08b08e5ed4472008030d70327c71f,delivered,2018-04-22 08:48:13,2018-04-24 18:25:22,2018-04-23 19:19:14,2018-04-24 19:31:58,2018-05-15,2 days 09:37:09,-1 days +00:53:52,0 days 01:06:36,1 days 00:12:44,20 days 04:28:02
199,58d4c4747ee059eeeb865b349b41f53a,1755fad7863475346bc6c3773fe055d3,delivered,2018-07-21 12:49:32,2018-07-26 23:31:53,2018-07-24 12:57:00,2018-07-25 23:58:19,2018-07-31,5 days 10:42:21,-3 days +13:25:07,-1 days +00:26:26,1 days 11:01:19,5 days 00:01:41
210,412fccb2b44a99b36714bca3fef8ad7b,c6865c523687cb3f235aa599afef1710,delivered,2018-07-22 22:30:05,2018-07-23 12:31:53,2018-07-23 12:24:00,2018-07-24 19:26:42,2018-07-31,0 days 14:01:48,-1 days +23:52:07,1 days 06:54:49,1 days 07:02:42,6 days 04:33:18
415,56a4ac10a4a8f2ba7693523bb439eede,78438ba6ace7d2cb023dbbc81b083562,delivered,2018-07-22 13:04:47,2018-07-27 23:31:09,2018-07-24 14:03:00,2018-07-28 00:05:39,2018-08-06,5 days 10:26:22,-4 days +14:31:51,0 days 00:34:30,3 days 10:02:39,8 days 23:54:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99091,240ead1a7284667e0ec71d01f80e4d5e,fcdd7556401aaa1c980f8b67a69f95dc,delivered,2018-07-02 16:30:02,2018-07-05 16:17:59,2018-07-05 14:11:00,2018-07-10 23:21:47,2018-07-24,2 days 23:47:57,-1 days +21:53:01,5 days 07:03:48,5 days 09:10:47,13 days 00:38:13
99230,78008d03bd8ef7fcf1568728b316553c,043e3254e68daf7256bda1c9c03c2286,delivered,2018-07-03 13:11:13,2018-07-05 16:32:52,2018-07-03 12:57:00,2018-07-10 17:47:39,2018-07-23,2 days 03:21:39,-3 days +20:24:08,5 days 01:14:47,7 days 04:50:39,12 days 06:12:21
99266,76a948cd55bf22799753720d4545dd2d,3f20a07b28aa252d0502fe7f7eb030a9,delivered,2018-01-30 02:41:30,2018-02-04 23:31:46,2018-01-31 18:11:58,2018-03-18 20:08:50,2018-03-02,5 days 20:50:16,-5 days +18:40:12,41 days 20:37:04,46 days 01:56:52,-17 days +03:51:10
99377,a6bd1f93b7ff72cc348ca07f38ec4bee,6d63fa86bd2f62908ad328325799152f,delivered,2018-04-20 17:28:40,2018-04-24 19:26:10,2018-04-23 17:18:40,2018-04-28 17:38:42,2018-05-15,4 days 01:57:30,-2 days +21:52:30,3 days 22:12:32,5 days 00:20:02,16 days 06:21:18
99406,7fd85cb0143de098a4c5ab5a57bfbd91,d32034dfc685b1ae15dd4c78eace868e,delivered,2017-05-04 21:05:28,2017-05-09 22:33:28,2017-05-09 17:02:58,2017-05-18 06:34:38,2017-06-01,5 days 01:28:00,-1 days +18:29:30,8 days 08:01:10,8 days 13:31:40,13 days 17:25:22

In [255]:
#61 registros tienen problemas entre el tiempo de order_delivered_customer_date y order_approved_at
dforder[dforder["difference_days3"]<pd.Timedelta(0)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5
199,58d4c4747ee059eeeb865b349b41f53a,1755fad7863475346bc6c3773fe055d3,delivered,2018-07-21 12:49:32,2018-07-26 23:31:53,2018-07-24 12:57:00,2018-07-25 23:58:19,2018-07-31,5 days 10:42:21,-3 days +13:25:07,-1 days +00:26:26,1 days 11:01:19,5 days 00:01:41
483,4df92d82d79c3b52c7138679fa9b07fc,ba0660bf3fffe505ee892e153a2fbd49,delivered,2018-07-24 11:32:11,2018-07-29 23:30:52,2018-07-26 14:46:00,2018-07-27 18:55:57,2018-08-06,5 days 11:58:41,-4 days +15:15:08,-3 days +19:25:05,1 days 04:09:57,9 days 05:04:03
1986,6e57e23ecac1ae881286657694444267,2dda54e25d0984e12705c84d4030e6e0,delivered,2018-08-09 17:36:47,2018-08-20 15:55:42,2018-08-14 13:26:00,2018-08-17 16:45:45,2018-09-06,10 days 22:18:55,-7 days +21:30:18,-3 days +00:50:03,3 days 03:19:45,19 days 07:14:15
3659,f222c56f035b47dfa1e069a88235d730,b74ca180d63f9ae0443e4e13a2f5bdaf,delivered,2018-01-30 09:43:45,2018-02-04 23:31:47,2018-01-31 19:48:44,2018-02-01 20:10:38,2018-02-15,5 days 13:48:02,-5 days +20:16:57,-4 days +20:38:51,1 days 00:21:54,13 days 03:49:22
11738,cf72398d0690f841271b695bbfda82d2,2b7fff075bda701552485ef3f0810257,delivered,2017-09-01 18:45:33,2017-09-13 22:04:39,2017-09-04 20:12:41,2017-09-11 14:15:02,2017-09-21,12 days 03:19:06,-10 days +22:08:02,-3 days +16:10:23,6 days 18:02:21,9 days 09:44:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89703,fcbf4f4ef049367f9f85af94ed3b6010,814d433efda6ac4b0859b5a71aac64c8,delivered,2018-04-20 15:11:15,2018-04-24 18:41:20,2018-04-23 21:58:45,2018-04-24 14:03:28,2018-04-30,4 days 03:30:05,-1 days +03:17:25,-1 days +19:22:08,0 days 16:04:43,5 days 09:56:32
91801,4387477eec4b3c89b39f3f454940d059,dbbbdb6ab9a7d8e3fc39a907f456bf19,delivered,2018-08-09 20:45:10,2018-08-20 15:56:29,2018-08-14 12:35:00,2018-08-15 14:56:43,2018-08-14,10 days 19:11:19,-7 days +20:38:31,-6 days +23:00:14,1 days 02:21:43,-2 days +09:03:17
93680,4f3a6e28d764cf896b1fceb0028422c8,e24fceba7ac4b1b1cd1884f05ba68e9d,delivered,2018-07-03 09:34:16,2018-07-05 16:21:50,2018-07-03 16:52:00,2018-07-05 13:32:49,2018-07-20,2 days 06:47:34,-2 days +00:30:10,-1 days +21:10:59,1 days 20:40:49,14 days 10:27:11
94359,9c3186381b733d4304e2e416afc6bbc1,a4bd2fc7bf4fc0061011ef71a2208d63,delivered,2018-07-28 20:49:05,2018-08-02 23:30:29,2018-07-31 14:09:00,2018-08-01 19:04:37,2018-08-03,5 days 02:41:24,-3 days +14:38:31,-2 days +19:34:08,1 days 04:55:37,1 days 04:55:23
98359,5a41aefdf8010bbd69a5264f69213b73,babb58dd58d643c769e12f18288b3214,delivered,2018-07-02 16:13:00,2018-07-05 16:17:20,2018-07-03 12:40:00,2018-07-05 12:48:37,2018-07-16,3 days 00:04:20,-3 days +20:22:40,-1 days +20:31:17,2 days 00:08:37,10 days 11:11:23

In [256]:
#Estos errores solo se presetnan para diff4
dforder[dforder["difference_days4"]<pd.Timedelta(0)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5
6437,a1abeb653a4d4cd1e142ccb8c82cd069,5f50465da00b7fed5dd1239f4ecf6e2c,delivered,2017-07-20 11:20:52,2017-07-21 06:43:14,2017-07-28 16:57:58,2017-07-25 19:32:56,2017-08-14,0 days 19:22:22,7 days 10:14:44,4 days 12:49:42,-3 days +02:34:58,19 days 04:27:04
9553,383aa8b2724fe452d9ccd9934a8c628b,b1cb2f9d7a19480f3749e248db14d58f,delivered,2017-07-02 20:58:43,2017-07-02 21:10:20,2017-07-07 17:22:41,2017-07-06 14:27:51,2017-07-21,0 days 00:11:37,4 days 20:12:21,3 days 17:17:31,-2 days +21:05:10,14 days 09:32:09
13487,cb1134f9010d242e9515ad1c78ec0c39,2fd33ac77677bd214b1882868317eeed,delivered,2017-07-16 12:35:34,2017-07-18 06:03:50,2017-07-20 19:22:02,2017-07-19 14:13:28,2017-08-08,1 days 17:28:16,2 days 13:18:12,1 days 08:09:38,-2 days +18:51:26,19 days 09:46:32
14474,dceb62e8fa94b46006c9554fed743df0,2721900eb4e0f1cc2c836dd7bc1b1e11,delivered,2017-07-20 20:58:05,2017-07-22 11:45:11,2017-08-01 18:23:30,2017-07-26 18:09:10,2017-08-11,1 days 14:47:06,10 days 06:38:19,4 days 06:23:59,-7 days +23:45:40,15 days 05:50:50
19268,5f9d46795c3126674e52becb3a1a517f,79287bcaafdde5c793b996fc40bb7d9f,delivered,2017-07-18 11:48:20,2017-07-18 12:03:29,2017-07-20 23:03:42,2017-07-20 18:52:41,2017-07-31,0 days 00:15:09,2 days 11:00:13,2 days 06:49:12,-1 days +19:48:59,10 days 05:07:19
21338,8c78d01de3a9009e23d6877a7cc9be20,6cd7106899e59a1fbd0622d5f1efedf4,delivered,2016-10-08 15:36:50,2016-10-08 18:13:44,2016-10-26 11:41:53,2016-10-25 17:51:46,2016-11-30,0 days 02:36:54,17 days 17:28:09,16 days 23:38:02,-1 days +06:09:53,35 days 06:08:14
22520,b27af682321527a6349f1761eb3f360c,9859dd92e872dbaa60ca3cd5f0d7ad07,delivered,2017-06-14 20:17:04,2017-06-14 20:30:08,2017-06-27 14:51:54,2017-06-26 15:45:35,2017-07-14,0 days 00:13:04,12 days 18:21:46,11 days 19:15:27,-1 days +00:53:41,17 days 08:14:25
25393,1cc3ae63caffff2d6c3ee3e78e074acf,01c843a2c0600def0b7693dba47af460,delivered,2017-08-07 21:35:22,2017-08-08 21:45:15,2017-08-10 18:28:56,2017-08-10 18:05:38,2017-08-25,1 days 00:09:53,1 days 20:43:41,1 days 20:20:23,-1 days +23:36:42,14 days 05:54:22
25646,e37f11cae9985ca58f0b56f268720537,3947a361301f2ff0f3223159a0f2701c,delivered,2017-07-26 11:46:34,2017-07-27 10:10:16,2017-08-01 18:17:47,2017-07-31 17:49:56,2017-08-24,0 days 22:23:42,5 days 08:07:31,4 days 07:39:40,-2 days +23:32:09,23 days 06:10:04
27470,fa3e37584f4fdb1ded0e0de700dfcb4e,63be4feff10a0b1d85f2cfbf10df9754,delivered,2017-07-30 19:32:23,2017-07-30 19:45:09,2017-08-09 18:18:43,2017-08-01 21:13:01,2017-08-18,0 days 00:12:46,9 days 22:33:34,2 days 01:27:52,-8 days +02:54:18,16 days 02:46:59
34939,c1e2bf2b7dd3309f2f5356c6b63968fa,e37d47e7eec62f08dc5deecc7d5532d6,delivered,2017-02-10 10:19:10,2017-02-10 10:30:13,2017-03-02 17:34:26,2017-02-14 15:15:57,2017-03-15,0 days 00:11:03,20 days 07:04:13,4 days 04:45:44,-17 days +21:41:31,28 days 08:44:03
41636,b866af202be0692766081310cd4085e1,d1800078046ed2e5ae1b0792b695c56e,delivered,2017-01-27 14:59:17,2017-01-27 15:30:46,2017-02-20 02:32:08,2017-02-15 03:53:46,2017-04-17,0 days 00:31:29,23 days 11:01:22,18 days 12:23:00,-5 days +01:21:38,60 days 20:06:14
45302,29941903985f944b0ffc49c479c1547d,b56ee98181afc3948a758d73a08423de,delivered,2017-05-29 16:16:50,2017-05-29 16:25:16,2017-06-09 15:07:29,2017-06-02 11:09:16,2017-06-23,0 days 00:08:26,10 days 22:42:13,3 days 18:44:00,-8 days +20:01:47,20 days 12:50:44
49933,76458889992169d3135b264dc13aec67,999196dca58a3db3d966d8f148532010,delivered,2016-10-07 10:05:16,2016-10-07 11:24:43,2016-10-26 11:43:06,2016-10-20 18:03:17,2016-11-29,0 days 01:19:27,19 days 00:18:23,13 days 06:38:34,-6 days +06:20:11,39 days 05:56:43
50373,0922ee1619de7b995648e5a8407afb91,8dab637615e9eae6d33ef5e48644d6d3,delivered,2017-07-11 10:45:44,2017-07-11 10:55:15,2017-07-14 12:41:34,2017-07-12 20:49:42,2017-08-14,0 days 00:09:31,3 days 01:46:19,1 days 09:54:27,-2 days +08:08:08,32 days 03:10:18
58428,fbffbaaa30f4077e87ec6acdb835b278,a31e61974efff601345e65e5d6b7ff31,delivered,2017-07-30 17:58:26,2017-07-31 07:05:07,2017-08-04 20:04:17,2017-08-03 20:30:00,2017-08-18,0 days 13:06:41,4 days 12:59:10,3 days 13:24:53,-1 days +00:25:43,14 days 03:30:00
68312,3ee6694bb99d5a6db0deceffcd099597,127237a4aa0bd9ecc09015f781c9fc27,delivered,2017-07-07 11:22:13,2017-07-07 12:25:07,2017-07-11 18:15:40,2017-07-11 17:41:26,2017-07-20,0 days 01:02:54,4 days 05:50:33,4 days 05:16:19,-1 days +23:25:46,8 days 06:18:34
71227,19feb5627c41ea1b36a8e50a469b3644,b8097c8f0c1f58ab56a53812a446a898,delivered,2016-10-07 17:09:56,2016-10-07 17:32:09,2016-10-26 11:42:05,2016-10-20 19:07:54,2016-12-01,0 days 00:22:13,18 days 18:09:56,13 days 01:35:45,-6 days +07:25:49,41 days 04:52:06
74967,d5558a097766363b8e76b38c43332e8a,49a4fe701c3d30eac6c180908e665ebb,delivered,2017-02-04 19:01:33,2017-02-04 19:31:12,2017-02-15 08:55:26,2017-02-10 07:58:32,2017-03-01,0 days 00:29:39,10 days 13:24:14,5 days 12:27:20,-6 days +23:03:06,18 days 16:01:28
76120,771c4f1f521f462e4b95619e648aaeab,d424b3ce4c850247e8c84ff8752de868,delivered,2017-03-22 20:15:15,2017-03-22 20:15:15,2017-03-30 13:14:34,2017-03-28 17:28:32,2017-04-12,0 days 00:00:00,7 days 16:59:19,5 days 21:13:17,-2 days +04:13:58,14 days 06:31:28
78556,ea1dcb4757a844d2642547797bd5feb0,4999e129610251dec1e6fb712dc15171,delivered,2017-07-18 13:38:29,2017-07-18 13:50:23,2017-07-27 19:21:31,2017-07-25 19:43:10,2017-08-15,0 days 00:11:54,9 days 05:31:08,7 days 05:52:47,-2 days +00:21:39,20 days 04:16:50
90373,99ad48402644a3968f2481defdc57947,abc709e0756f508111c68314b00cec25,delivered,2017-08-07 16:36:51,2017-08-07 17:20:06,2017-08-12 00:03:35,2017-08-10 21:22:31,2017-09-05,0 days 00:43:15,4 days 06:43:29,3 days 04:02:25,-2 days +21:18:56,25 days 02:37:29
95634,f688669f48063536e082bb32d634cd46,691d28310063e5b36b732b117f2bcfc0,delivered,2016-10-07 10:28:56,2016-10-11 04:56:13,2016-10-21 18:02:40,2016-10-20 20:33:27,2016-11-29,3 days 18:27:17,10 days 13:06:27,9 days 15:37:14,-1 days +02:30:47,39 days 03:26:33

In [257]:
#Errors de diff 2 y diff3  ala vez son lo mismo que solo viendo error en diff3
dforder[(dforder["difference_days2"]<pd.Timedelta(0))& (dforder["difference_days3"]<pd.Timedelta(0))]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5
199,58d4c4747ee059eeeb865b349b41f53a,1755fad7863475346bc6c3773fe055d3,delivered,2018-07-21 12:49:32,2018-07-26 23:31:53,2018-07-24 12:57:00,2018-07-25 23:58:19,2018-07-31,5 days 10:42:21,-3 days +13:25:07,-1 days +00:26:26,1 days 11:01:19,5 days 00:01:41
483,4df92d82d79c3b52c7138679fa9b07fc,ba0660bf3fffe505ee892e153a2fbd49,delivered,2018-07-24 11:32:11,2018-07-29 23:30:52,2018-07-26 14:46:00,2018-07-27 18:55:57,2018-08-06,5 days 11:58:41,-4 days +15:15:08,-3 days +19:25:05,1 days 04:09:57,9 days 05:04:03
1986,6e57e23ecac1ae881286657694444267,2dda54e25d0984e12705c84d4030e6e0,delivered,2018-08-09 17:36:47,2018-08-20 15:55:42,2018-08-14 13:26:00,2018-08-17 16:45:45,2018-09-06,10 days 22:18:55,-7 days +21:30:18,-3 days +00:50:03,3 days 03:19:45,19 days 07:14:15
3659,f222c56f035b47dfa1e069a88235d730,b74ca180d63f9ae0443e4e13a2f5bdaf,delivered,2018-01-30 09:43:45,2018-02-04 23:31:47,2018-01-31 19:48:44,2018-02-01 20:10:38,2018-02-15,5 days 13:48:02,-5 days +20:16:57,-4 days +20:38:51,1 days 00:21:54,13 days 03:49:22
11738,cf72398d0690f841271b695bbfda82d2,2b7fff075bda701552485ef3f0810257,delivered,2017-09-01 18:45:33,2017-09-13 22:04:39,2017-09-04 20:12:41,2017-09-11 14:15:02,2017-09-21,12 days 03:19:06,-10 days +22:08:02,-3 days +16:10:23,6 days 18:02:21,9 days 09:44:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89703,fcbf4f4ef049367f9f85af94ed3b6010,814d433efda6ac4b0859b5a71aac64c8,delivered,2018-04-20 15:11:15,2018-04-24 18:41:20,2018-04-23 21:58:45,2018-04-24 14:03:28,2018-04-30,4 days 03:30:05,-1 days +03:17:25,-1 days +19:22:08,0 days 16:04:43,5 days 09:56:32
91801,4387477eec4b3c89b39f3f454940d059,dbbbdb6ab9a7d8e3fc39a907f456bf19,delivered,2018-08-09 20:45:10,2018-08-20 15:56:29,2018-08-14 12:35:00,2018-08-15 14:56:43,2018-08-14,10 days 19:11:19,-7 days +20:38:31,-6 days +23:00:14,1 days 02:21:43,-2 days +09:03:17
93680,4f3a6e28d764cf896b1fceb0028422c8,e24fceba7ac4b1b1cd1884f05ba68e9d,delivered,2018-07-03 09:34:16,2018-07-05 16:21:50,2018-07-03 16:52:00,2018-07-05 13:32:49,2018-07-20,2 days 06:47:34,-2 days +00:30:10,-1 days +21:10:59,1 days 20:40:49,14 days 10:27:11
94359,9c3186381b733d4304e2e416afc6bbc1,a4bd2fc7bf4fc0061011ef71a2208d63,delivered,2018-07-28 20:49:05,2018-08-02 23:30:29,2018-07-31 14:09:00,2018-08-01 19:04:37,2018-08-03,5 days 02:41:24,-3 days +14:38:31,-2 days +19:34:08,1 days 04:55:37,1 days 04:55:23
98359,5a41aefdf8010bbd69a5264f69213b73,babb58dd58d643c769e12f18288b3214,delivered,2018-07-02 16:13:00,2018-07-05 16:17:20,2018-07-03 12:40:00,2018-07-05 12:48:37,2018-07-16,3 days 00:04:20,-3 days +20:22:40,-1 days +20:31:17,2 days 00:08:37,10 days 11:11:23

In [258]:
#Los problemas con diff 3 tb son parte de lso problemas con diff2 , por lo tanto se debe empezar de aca a corregir valors incongruentes
dforder[dforder["difference_days3"]<pd.Timedelta(0)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5
199,58d4c4747ee059eeeb865b349b41f53a,1755fad7863475346bc6c3773fe055d3,delivered,2018-07-21 12:49:32,2018-07-26 23:31:53,2018-07-24 12:57:00,2018-07-25 23:58:19,2018-07-31,5 days 10:42:21,-3 days +13:25:07,-1 days +00:26:26,1 days 11:01:19,5 days 00:01:41
483,4df92d82d79c3b52c7138679fa9b07fc,ba0660bf3fffe505ee892e153a2fbd49,delivered,2018-07-24 11:32:11,2018-07-29 23:30:52,2018-07-26 14:46:00,2018-07-27 18:55:57,2018-08-06,5 days 11:58:41,-4 days +15:15:08,-3 days +19:25:05,1 days 04:09:57,9 days 05:04:03
1986,6e57e23ecac1ae881286657694444267,2dda54e25d0984e12705c84d4030e6e0,delivered,2018-08-09 17:36:47,2018-08-20 15:55:42,2018-08-14 13:26:00,2018-08-17 16:45:45,2018-09-06,10 days 22:18:55,-7 days +21:30:18,-3 days +00:50:03,3 days 03:19:45,19 days 07:14:15
3659,f222c56f035b47dfa1e069a88235d730,b74ca180d63f9ae0443e4e13a2f5bdaf,delivered,2018-01-30 09:43:45,2018-02-04 23:31:47,2018-01-31 19:48:44,2018-02-01 20:10:38,2018-02-15,5 days 13:48:02,-5 days +20:16:57,-4 days +20:38:51,1 days 00:21:54,13 days 03:49:22
11738,cf72398d0690f841271b695bbfda82d2,2b7fff075bda701552485ef3f0810257,delivered,2017-09-01 18:45:33,2017-09-13 22:04:39,2017-09-04 20:12:41,2017-09-11 14:15:02,2017-09-21,12 days 03:19:06,-10 days +22:08:02,-3 days +16:10:23,6 days 18:02:21,9 days 09:44:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89703,fcbf4f4ef049367f9f85af94ed3b6010,814d433efda6ac4b0859b5a71aac64c8,delivered,2018-04-20 15:11:15,2018-04-24 18:41:20,2018-04-23 21:58:45,2018-04-24 14:03:28,2018-04-30,4 days 03:30:05,-1 days +03:17:25,-1 days +19:22:08,0 days 16:04:43,5 days 09:56:32
91801,4387477eec4b3c89b39f3f454940d059,dbbbdb6ab9a7d8e3fc39a907f456bf19,delivered,2018-08-09 20:45:10,2018-08-20 15:56:29,2018-08-14 12:35:00,2018-08-15 14:56:43,2018-08-14,10 days 19:11:19,-7 days +20:38:31,-6 days +23:00:14,1 days 02:21:43,-2 days +09:03:17
93680,4f3a6e28d764cf896b1fceb0028422c8,e24fceba7ac4b1b1cd1884f05ba68e9d,delivered,2018-07-03 09:34:16,2018-07-05 16:21:50,2018-07-03 16:52:00,2018-07-05 13:32:49,2018-07-20,2 days 06:47:34,-2 days +00:30:10,-1 days +21:10:59,1 days 20:40:49,14 days 10:27:11
94359,9c3186381b733d4304e2e416afc6bbc1,a4bd2fc7bf4fc0061011ef71a2208d63,delivered,2018-07-28 20:49:05,2018-08-02 23:30:29,2018-07-31 14:09:00,2018-08-01 19:04:37,2018-08-03,5 days 02:41:24,-3 days +14:38:31,-2 days +19:34:08,1 days 04:55:37,1 days 04:55:23
98359,5a41aefdf8010bbd69a5264f69213b73,babb58dd58d643c769e12f18288b3214,delivered,2018-07-02 16:13:00,2018-07-05 16:17:20,2018-07-03 12:40:00,2018-07-05 12:48:37,2018-07-16,3 days 00:04:20,-3 days +20:22:40,-1 days +20:31:17,2 days 00:08:37,10 days 11:11:23

In [259]:
#Nueva columna auxiliar para arregleas la columna order_approved_at_new que perfmita que diff3 tenga sentido
dforder["order_approved_at_new"]=dforder["order_purchase_timestamp"]+(dforder["order_delivered_carrier_date"]-dforder["order_purchase_timestamp"])/2

In [260]:
dforder.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0 days 00:10:42,2 days 08:47:45,8 days 10:17:58,6 days 01:30:13,7 days 02:34:47,2017-10-03 15:25:46.500
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1 days 06:42:50,0 days 11:06:33,12 days 12:03:18,12 days 00:56:45,5 days 08:32:15,2018-07-25 17:36:18.500
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,0 days 00:16:34,0 days 04:54:37,9 days 09:11:06,9 days 04:16:29,17 days 05:53:31,2018-08-08 11:14:24.500
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,0 days 00:17:53,3 days 17:54:00,13 days 04:42:43,9 days 10:48:43,12 days 23:31:18,2017-11-20 16:34:02.500
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,0 days 01:01:50,0 days 21:26:05,2 days 19:56:33,1 days 22:30:28,9 days 05:42:58,2018-02-14 08:32:36.500

In [261]:
#Modifica la columa order_approved_at y arregla diff3
dforder.loc[(dforder["difference_days2"]<pd.Timedelta(0)) & (dforder["difference_days3"]<pd.Timedelta(0)),"order_approved_at"]=dforder.loc[(dforder["difference_days2"]<pd.Timedelta(0)) & (dforder["difference_days3"]<pd.Timedelta(0)),"order_approved_at_new"]

In [262]:
#vemos diferencia entre que se aprueba la compra y en la que el cliente hace la compra
dforder['difference_days1'] = dforder['order_approved_at'] - dforder['order_purchase_timestamp']
#vemos diferencia entre es llevado al flete y en la que se aprueba la compra
dforder['difference_days2'] = dforder['order_delivered_carrier_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se aprueba la compra
dforder['difference_days3'] = dforder['order_delivered_customer_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se lleva al flete
dforder['difference_days4'] = dforder['order_delivered_customer_date'] - dforder['order_delivered_carrier_date']
#vemos diferencia entre la estimacion de la llegada del producto al clinte y el tiempo real en que llega el producto al cliente
dforder['difference_days5'] = dforder['order_estimated_delivery_date'] - dforder['order_delivered_customer_date']

In [263]:
#Comprobando que los erroresde diff 2 y diff3 juntos esta arreglado
dforder[(dforder["difference_days2"]<pd.Timedelta(0))& (dforder["difference_days3"]<pd.Timedelta(0))]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new]
Index: []

In [264]:
#1229 registros cuenta con problemas de diff2 entre el tiempo de order_delivered_carrier_date y order_approved_at
dforder[(dforder["difference_days2"]<pd.Timedelta(0))]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new
15,dcb36b511fcac050b97cd5c05de84dc3,3b6828a50ffe546942b7a473d70ac0fc,delivered,2018-06-07 19:03:12,2018-06-12 23:31:02,2018-06-11 14:54:00,2018-06-21 15:34:32,2018-07-04,5 days 04:27:50,-2 days +15:22:58,8 days 16:03:30,10 days 00:40:32,12 days 08:25:28,2018-06-09 16:58:36.000
64,688052146432ef8253587b930b01a06d,81e08b08e5ed4472008030d70327c71f,delivered,2018-04-22 08:48:13,2018-04-24 18:25:22,2018-04-23 19:19:14,2018-04-24 19:31:58,2018-05-15,2 days 09:37:09,-1 days +00:53:52,0 days 01:06:36,1 days 00:12:44,20 days 04:28:02,2018-04-23 02:03:43.500
210,412fccb2b44a99b36714bca3fef8ad7b,c6865c523687cb3f235aa599afef1710,delivered,2018-07-22 22:30:05,2018-07-23 12:31:53,2018-07-23 12:24:00,2018-07-24 19:26:42,2018-07-31,0 days 14:01:48,-1 days +23:52:07,1 days 06:54:49,1 days 07:02:42,6 days 04:33:18,2018-07-23 05:27:02.500
415,56a4ac10a4a8f2ba7693523bb439eede,78438ba6ace7d2cb023dbbc81b083562,delivered,2018-07-22 13:04:47,2018-07-27 23:31:09,2018-07-24 14:03:00,2018-07-28 00:05:39,2018-08-06,5 days 10:26:22,-4 days +14:31:51,0 days 00:34:30,3 days 10:02:39,8 days 23:54:21,2018-07-23 13:33:53.500
481,32e4fa9bb468884309b58b9348de70c3,e54367d4b00c5cb76d2dfe71b9bdb89c,delivered,2018-07-04 16:49:21,2018-07-05 16:33:06,2018-07-05 14:50:00,2018-07-07 14:41:18,2018-07-23,0 days 23:43:45,-1 days +22:16:54,1 days 22:08:12,1 days 23:51:18,15 days 09:18:42,2018-07-05 03:49:40.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99091,240ead1a7284667e0ec71d01f80e4d5e,fcdd7556401aaa1c980f8b67a69f95dc,delivered,2018-07-02 16:30:02,2018-07-05 16:17:59,2018-07-05 14:11:00,2018-07-10 23:21:47,2018-07-24,2 days 23:47:57,-1 days +21:53:01,5 days 07:03:48,5 days 09:10:47,13 days 00:38:13,2018-07-04 03:20:31.000
99230,78008d03bd8ef7fcf1568728b316553c,043e3254e68daf7256bda1c9c03c2286,delivered,2018-07-03 13:11:13,2018-07-05 16:32:52,2018-07-03 12:57:00,2018-07-10 17:47:39,2018-07-23,2 days 03:21:39,-3 days +20:24:08,5 days 01:14:47,7 days 04:50:39,12 days 06:12:21,2018-07-03 13:04:06.500
99266,76a948cd55bf22799753720d4545dd2d,3f20a07b28aa252d0502fe7f7eb030a9,delivered,2018-01-30 02:41:30,2018-02-04 23:31:46,2018-01-31 18:11:58,2018-03-18 20:08:50,2018-03-02,5 days 20:50:16,-5 days +18:40:12,41 days 20:37:04,46 days 01:56:52,-17 days +03:51:10,2018-01-30 22:26:44.000
99377,a6bd1f93b7ff72cc348ca07f38ec4bee,6d63fa86bd2f62908ad328325799152f,delivered,2018-04-20 17:28:40,2018-04-24 19:26:10,2018-04-23 17:18:40,2018-04-28 17:38:42,2018-05-15,4 days 01:57:30,-2 days +21:52:30,3 days 22:12:32,5 days 00:20:02,16 days 06:21:18,2018-04-22 05:23:40.000
99406,7fd85cb0143de098a4c5ab5a57bfbd91,d32034dfc685b1ae15dd4c78eace868e,delivered,2017-05-04 21:05:28,2017-05-09 22:33:28,2017-05-09 17:02:58,2017-05-18 06:34:38,2017-06-01,5 days 01:28:00,-1 days +18:29:30,8 days 08:01:10,8 days 13:31:40,13 days 17:25:22,2017-05-07 07:04:13.000

In [265]:
#Creando nueva columna auxiliar para arreglar poblemas de diff2
dforder["order_delivered_carrier_date_new"]=dforder["order_approved_at"]+(dforder["order_delivered_customer_date"]-dforder["order_approved_at"])/2

In [266]:
dforder.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0 days 00:10:42,2 days 08:47:45,8 days 10:17:58,6 days 01:30:13,7 days 02:34:47,2017-10-03 15:25:46.500,2017-10-06 16:16:14.000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1 days 06:42:50,0 days 11:06:33,12 days 12:03:18,12 days 00:56:45,5 days 08:32:15,2018-07-25 17:36:18.500,2018-08-01 09:26:06.000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,0 days 00:16:34,0 days 04:54:37,9 days 09:11:06,9 days 04:16:29,17 days 05:53:31,2018-08-08 11:14:24.500,2018-08-13 01:30:56.000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,0 days 00:17:53,3 days 17:54:00,13 days 04:42:43,9 days 10:48:43,12 days 23:31:18,2017-11-20 16:34:02.500,2017-11-25 10:07:20.500
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,0 days 01:01:50,0 days 21:26:05,2 days 19:56:33,1 days 22:30:28,9 days 05:42:58,2018-02-14 08:32:36.500,2018-02-15 08:18:45.500

In [267]:
#Modifica la columa order_delivered_carrier_date y arregla diff2
dforder.loc[dforder["difference_days2"]<pd.Timedelta(0),"order_delivered_carrier_date"]=dforder.loc[dforder["difference_days2"]<pd.Timedelta(0),"order_delivered_carrier_date_new"]

In [268]:
dforder.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0 days 00:10:42,2 days 08:47:45,8 days 10:17:58,6 days 01:30:13,7 days 02:34:47,2017-10-03 15:25:46.500,2017-10-06 16:16:14.000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1 days 06:42:50,0 days 11:06:33,12 days 12:03:18,12 days 00:56:45,5 days 08:32:15,2018-07-25 17:36:18.500,2018-08-01 09:26:06.000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,0 days 00:16:34,0 days 04:54:37,9 days 09:11:06,9 days 04:16:29,17 days 05:53:31,2018-08-08 11:14:24.500,2018-08-13 01:30:56.000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,0 days 00:17:53,3 days 17:54:00,13 days 04:42:43,9 days 10:48:43,12 days 23:31:18,2017-11-20 16:34:02.500,2017-11-25 10:07:20.500
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,0 days 01:01:50,0 days 21:26:05,2 days 19:56:33,1 days 22:30:28,9 days 05:42:58,2018-02-14 08:32:36.500,2018-02-15 08:18:45.500

In [269]:
#vemos diferencia entre que se aprueba la compra y en la que el cliente hace la compra
dforder['difference_days1'] = dforder['order_approved_at'] - dforder['order_purchase_timestamp']
#vemos diferencia entre es llevado al flete y en la que se aprueba la compra
dforder['difference_days2'] = dforder['order_delivered_carrier_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se aprueba la compra
dforder['difference_days3'] = dforder['order_delivered_customer_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se lleva al flete
dforder['difference_days4'] = dforder['order_delivered_customer_date'] - dforder['order_delivered_carrier_date']
#vemos diferencia entre la estimacion de la llegada del producto al cliente y el tiempo real en que llega el producto al cliente
dforder['difference_days5'] = dforder['order_estimated_delivery_date'] - dforder['order_delivered_customer_date']

In [270]:
#Comprobmaos que diff2 esta arreglado
dforder[dforder["difference_days2"]<pd.Timedelta(0)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [271]:
#Comprobamos que diff 3 esta arreglado
dforder[dforder["difference_days3"]<pd.Timedelta(0)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [272]:
#Errores de diff4
dforder[dforder["difference_days4"]<pd.Timedelta(0)]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
6437,a1abeb653a4d4cd1e142ccb8c82cd069,5f50465da00b7fed5dd1239f4ecf6e2c,delivered,2017-07-20 11:20:52,2017-07-21 06:43:14,2017-07-28 16:57:58,2017-07-25 19:32:56,2017-08-14,0 days 19:22:22,7 days 10:14:44,4 days 12:49:42,-3 days +02:34:58,19 days 04:27:04,2017-07-24 14:09:25.000,2017-07-23 13:08:05.000
9553,383aa8b2724fe452d9ccd9934a8c628b,b1cb2f9d7a19480f3749e248db14d58f,delivered,2017-07-02 20:58:43,2017-07-02 21:10:20,2017-07-07 17:22:41,2017-07-06 14:27:51,2017-07-21,0 days 00:11:37,4 days 20:12:21,3 days 17:17:31,-2 days +21:05:10,14 days 09:32:09,2017-07-05 07:10:42.000,2017-07-04 17:49:05.500
13487,cb1134f9010d242e9515ad1c78ec0c39,2fd33ac77677bd214b1882868317eeed,delivered,2017-07-16 12:35:34,2017-07-18 06:03:50,2017-07-20 19:22:02,2017-07-19 14:13:28,2017-08-08,1 days 17:28:16,2 days 13:18:12,1 days 08:09:38,-2 days +18:51:26,19 days 09:46:32,2017-07-18 15:58:48.000,2017-07-18 22:08:39.000
14474,dceb62e8fa94b46006c9554fed743df0,2721900eb4e0f1cc2c836dd7bc1b1e11,delivered,2017-07-20 20:58:05,2017-07-22 11:45:11,2017-08-01 18:23:30,2017-07-26 18:09:10,2017-08-11,1 days 14:47:06,10 days 06:38:19,4 days 06:23:59,-7 days +23:45:40,15 days 05:50:50,2017-07-26 19:40:47.500,2017-07-24 14:57:10.500
19268,5f9d46795c3126674e52becb3a1a517f,79287bcaafdde5c793b996fc40bb7d9f,delivered,2017-07-18 11:48:20,2017-07-18 12:03:29,2017-07-20 23:03:42,2017-07-20 18:52:41,2017-07-31,0 days 00:15:09,2 days 11:00:13,2 days 06:49:12,-1 days +19:48:59,10 days 05:07:19,2017-07-19 17:26:01.000,2017-07-19 15:28:05.000
21338,8c78d01de3a9009e23d6877a7cc9be20,6cd7106899e59a1fbd0622d5f1efedf4,delivered,2016-10-08 15:36:50,2016-10-08 18:13:44,2016-10-26 11:41:53,2016-10-25 17:51:46,2016-11-30,0 days 02:36:54,17 days 17:28:09,16 days 23:38:02,-1 days +06:09:53,35 days 06:08:14,2016-10-17 13:39:21.500,2016-10-17 06:02:45.000
22520,b27af682321527a6349f1761eb3f360c,9859dd92e872dbaa60ca3cd5f0d7ad07,delivered,2017-06-14 20:17:04,2017-06-14 20:30:08,2017-06-27 14:51:54,2017-06-26 15:45:35,2017-07-14,0 days 00:13:04,12 days 18:21:46,11 days 19:15:27,-1 days +00:53:41,17 days 08:14:25,2017-06-21 05:34:29.000,2017-06-20 18:07:51.500
25393,1cc3ae63caffff2d6c3ee3e78e074acf,01c843a2c0600def0b7693dba47af460,delivered,2017-08-07 21:35:22,2017-08-08 21:45:15,2017-08-10 18:28:56,2017-08-10 18:05:38,2017-08-25,1 days 00:09:53,1 days 20:43:41,1 days 20:20:23,-1 days +23:36:42,14 days 05:54:22,2017-08-09 08:02:09.000,2017-08-09 19:55:26.500
25646,e37f11cae9985ca58f0b56f268720537,3947a361301f2ff0f3223159a0f2701c,delivered,2017-07-26 11:46:34,2017-07-27 10:10:16,2017-08-01 18:17:47,2017-07-31 17:49:56,2017-08-24,0 days 22:23:42,5 days 08:07:31,4 days 07:39:40,-2 days +23:32:09,23 days 06:10:04,2017-07-29 15:02:10.500,2017-07-29 14:00:06.000
27470,fa3e37584f4fdb1ded0e0de700dfcb4e,63be4feff10a0b1d85f2cfbf10df9754,delivered,2017-07-30 19:32:23,2017-07-30 19:45:09,2017-08-09 18:18:43,2017-08-01 21:13:01,2017-08-18,0 days 00:12:46,9 days 22:33:34,2 days 01:27:52,-8 days +02:54:18,16 days 02:46:59,2017-08-04 18:55:33.000,2017-07-31 20:29:05.000
34939,c1e2bf2b7dd3309f2f5356c6b63968fa,e37d47e7eec62f08dc5deecc7d5532d6,delivered,2017-02-10 10:19:10,2017-02-10 10:30:13,2017-03-02 17:34:26,2017-02-14 15:15:57,2017-03-15,0 days 00:11:03,20 days 07:04:13,4 days 04:45:44,-17 days +21:41:31,28 days 08:44:03,2017-02-20 13:56:48.000,2017-02-12 12:53:05.000
41636,b866af202be0692766081310cd4085e1,d1800078046ed2e5ae1b0792b695c56e,delivered,2017-01-27 14:59:17,2017-01-27 15:30:46,2017-02-20 02:32:08,2017-02-15 03:53:46,2017-04-17,0 days 00:31:29,23 days 11:01:22,18 days 12:23:00,-5 days +01:21:38,60 days 20:06:14,2017-02-08 08:45:42.500,2017-02-05 21:42:16.000
45302,29941903985f944b0ffc49c479c1547d,b56ee98181afc3948a758d73a08423de,delivered,2017-05-29 16:16:50,2017-05-29 16:25:16,2017-06-09 15:07:29,2017-06-02 11:09:16,2017-06-23,0 days 00:08:26,10 days 22:42:13,3 days 18:44:00,-8 days +20:01:47,20 days 12:50:44,2017-06-04 03:42:09.500,2017-05-31 13:47:16.000
49933,76458889992169d3135b264dc13aec67,999196dca58a3db3d966d8f148532010,delivered,2016-10-07 10:05:16,2016-10-07 11:24:43,2016-10-26 11:43:06,2016-10-20 18:03:17,2016-11-29,0 days 01:19:27,19 days 00:18:23,13 days 06:38:34,-6 days +06:20:11,39 days 05:56:43,2016-10-16 22:54:11.000,2016-10-14 02:44:00.000
50373,0922ee1619de7b995648e5a8407afb91,8dab637615e9eae6d33ef5e48644d6d3,delivered,2017-07-11 10:45:44,2017-07-11 10:55:15,2017-07-14 12:41:34,2017-07-12 20:49:42,2017-08-14,0 days 00:09:31,3 days 01:46:19,1 days 09:54:27,-2 days +08:08:08,32 days 03:10:18,2017-07-12 23:43:39.000,2017-07-12 03:52:28.500
58428,fbffbaaa30f4077e87ec6acdb835b278,a31e61974efff601345e65e5d6b7ff31,delivered,2017-07-30 17:58:26,2017-07-31 07:05:07,2017-08-04 20:04:17,2017-08-03 20:30:00,2017-08-18,0 days 13:06:41,4 days 12:59:10,3 days 13:24:53,-1 days +00:25:43,14 days 03:30:00,2017-08-02 07:01:21.500,2017-08-02 01:47:33.500
68312,3ee6694bb99d5a6db0deceffcd099597,127237a4aa0bd9ecc09015f781c9fc27,delivered,2017-07-07 11:22:13,2017-07-07 12:25:07,2017-07-11 18:15:40,2017-07-11 17:41:26,2017-07-20,0 days 01:02:54,4 days 05:50:33,4 days 05:16:19,-1 days +23:25:46,8 days 06:18:34,2017-07-09 14:48:56.500,2017-07-09 15:03:16.500
71227,19feb5627c41ea1b36a8e50a469b3644,b8097c8f0c1f58ab56a53812a446a898,delivered,2016-10-07 17:09:56,2016-10-07 17:32:09,2016-10-26 11:42:05,2016-10-20 19:07:54,2016-12-01,0 days 00:22:13,18 days 18:09:56,13 days 01:35:45,-6 days +07:25:49,41 days 04:52:06,2016-10-17 02:26:00.500,2016-10-14 06:20:01.500
74967,d5558a097766363b8e76b38c43332e8a,49a4fe701c3d30eac6c180908e665ebb,delivered,2017-02-04 19:01:33,2017-02-04 19:31:12,2017-02-15 08:55:26,2017-02-10 07:58:32,2017-03-01,0 days 00:29:39,10 days 13:24:14,5 days 12:27:20,-6 days +23:03:06,18 days 16:01:28,2017-02-10 01:58:29.500,2017-02-07 13:44:52.000
76120,771c4f1f521f462e4b95619e648aaeab,d424b3ce4c850247e8c84ff8752de868,delivered,2017-03-22 20:15:15,2017-03-22 20:15:15,2017-03-30 13:14:34,2017-03-28 17:28:32,2017-04-12,0 days 00:00:00,7 days 16:59:19,5 days 21:13:17,-2 days +04:13:58,14 days 06:31:28,2017-03-26 16:44:54.500,2017-03-25 18:51:53.500
78556,ea1dcb4757a844d2642547797bd5feb0,4999e129610251dec1e6fb712dc15171,delivered,2017-07-18 13:38:29,2017-07-18 13:50:23,2017-07-27 19:21:31,2017-07-25 19:43:10,2017-08-15,0 days 00:11:54,9 days 05:31:08,7 days 05:52:47,-2 days +00:21:39,20 days 04:16:50,2017-07-23 04:30:00.000,2017-07-22 04:46:46.500
90373,99ad48402644a3968f2481defdc57947,abc709e0756f508111c68314b00cec25,delivered,2017-08-07 16:36:51,2017-08-07 17:20:06,2017-08-12 00:03:35,2017-08-10 21:22:31,2017-09-05,0 days 00:43:15,4 days 06:43:29,3 days 04:02:25,-2 days +21:18:56,25 days 02:37:29,2017-08-09 20:20:13.000,2017-08-09 07:21:18.500
95634,f688669f48063536e082bb32d634cd46,691d28310063e5b36b732b117f2bcfc0,delivered,2016-10-07 10:28:56,2016-10-11 04:56:13,2016-10-21 18:02:40,2016-10-20 20:33:27,2016-11-29,3 days 18:27:17,10 days 13:06:27,9 days 15:37:14,-1 days +02:30:47,39 days 03:26:33,2016-10-14 14:15:48.000,2016-10-16 00:44:50.000

In [273]:
#Modificando la columna auxiliar para arreglar diff4
dforder["order_delivered_carrier_date_new"]=dforder["order_approved_at"]+(dforder["order_delivered_customer_date"]-dforder["order_approved_at"])/2

In [274]:
#Modifica la columa order_delivered_carrier_date y arregla diff4
dforder.loc[dforder["difference_days4"]<pd.Timedelta(0),"order_delivered_carrier_date"]=dforder.loc[dforder["difference_days4"]<pd.Timedelta(0),"order_delivered_carrier_date_new"]

In [275]:
#vemos diferencia entre que se aprueba la compra y en la que el cliente hace la compra
dforder['difference_days1'] = dforder['order_approved_at'] - dforder['order_purchase_timestamp']
#vemos diferencia entre es llevado al flete y en la que se aprueba la compra
dforder['difference_days2'] = dforder['order_delivered_carrier_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se aprueba la compra
dforder['difference_days3'] = dforder['order_delivered_customer_date'] - dforder['order_approved_at']
#vemos diferencia entre que el producto llega al cliente y en la que se lleva al flete
dforder['difference_days4'] = dforder['order_delivered_customer_date'] - dforder['order_delivered_carrier_date']
#vemos diferencia entre la estimacion de la llegada del producto al cliente y el tiempo real en que llega el producto al cliente
dforder['difference_days5'] = dforder['order_estimated_delivery_date'] - dforder['order_delivered_customer_date']

In [276]:
#Sin problemas diff2
dforder[dforder["difference_days2"]<pd.Timedelta(0)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [277]:
#Sin problemas diff3
dforder[dforder["difference_days3"]<pd.Timedelta(0)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [278]:
#Sin problemas diff4
dforder[dforder["difference_days4"]<pd.Timedelta(0)]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [279]:
#Viendo los valores unicos de la columna order_status
dforder["order_status"].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [280]:
#solo fueron creados
dforder[dforder["order_status"]=="created"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
7434,b5359909123fa03c50bdb0cfed07f098,438449d4af8980d107bf04571413a8e7,created,2017-12-05 01:07:52,NaT,NaT,NaT,2018-01-11,NaT,NaT,NaT,NaT,NaT,NaT,NaT
9238,dba5062fbda3af4fb6c33b1e040ca38f,964a6df3d9bdf60fe3e7b8bb69ed893a,created,2018-02-09 17:21:04,NaT,NaT,NaT,2018-03-07,NaT,NaT,NaT,NaT,NaT,NaT,NaT
21441,7a4df5d8cff4090e541401a20a22bb80,725e9c75605414b21fd8c8d5a1c2f1d6,created,2017-11-25 11:10:33,NaT,NaT,NaT,2017-12-12,NaT,NaT,NaT,NaT,NaT,NaT,NaT
55086,35de4050331c6c644cddc86f4f2d0d64,4ee64f4bfc542546f422da0aeb462853,created,2017-12-05 01:07:58,NaT,NaT,NaT,2018-01-08,NaT,NaT,NaT,NaT,NaT,NaT,NaT
58958,90ab3e7d52544ec7bc3363c82689965f,7d61b9f4f216052ba664f22e9c504ef1,created,2017-11-06 13:12:34,NaT,NaT,NaT,2017-12-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [281]:
# no disponible, solo llega  hasra aprobacion de orden
dforder[dforder["order_status"]=="unavailable"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
266,8e24261a7e58791d10cb1bf9da94df5c,64a254d30eed42cd0e6c36dddb88adf0,unavailable,2017-11-16 15:09:28,2017-11-16 15:26:57,NaT,NaT,2017-12-05,0 days 00:17:29,NaT,NaT,NaT,NaT,NaT,NaT
586,c272bcd21c287498b4883c7512019702,9582c5bbecc65eb568e2c1d839b5cba1,unavailable,2018-01-31 11:31:37,2018-01-31 14:23:50,NaT,NaT,2018-02-16,0 days 02:52:13,NaT,NaT,NaT,NaT,NaT,NaT
687,37553832a3a89c9b2db59701c357ca67,7607cd563696c27ede287e515812d528,unavailable,2017-08-14 17:38:02,2017-08-17 00:15:18,NaT,NaT,2017-09-05,2 days 06:37:16,NaT,NaT,NaT,NaT,NaT,NaT
737,d57e15fb07fd180f06ab3926b39edcd2,470b93b3f1cde85550fc74cd3a476c78,unavailable,2018-01-08 19:39:03,2018-01-09 07:26:08,NaT,NaT,2018-02-06,0 days 11:47:05,NaT,NaT,NaT,NaT,NaT,NaT
1160,2f634e2cebf8c0283e7ef0989f77d217,7353b0fb8e8d9675e3a704c60ca44ebe,unavailable,2017-09-27 20:55:33,2017-09-28 01:32:50,NaT,NaT,2017-10-27,0 days 04:37:17,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99147,6cf5c427fb11bc5fe8abefa86aa7ba0b,91ac14a1e50bc022eeecf0c2ba37006a,unavailable,2017-10-17 10:53:48,2017-10-19 03:12:43,NaT,NaT,2017-10-27,1 days 16:18:55,NaT,NaT,NaT,NaT,NaT,NaT
99233,1c7c8ab324927f5b6e52338bd110bef4,95b1767df51d6fa09402267d8de314df,unavailable,2017-12-23 18:48:09,2017-12-23 18:54:22,NaT,NaT,2018-01-19,0 days 00:06:13,NaT,NaT,NaT,NaT,NaT,NaT
99252,aaab15da689073f8f9aa978a390a69d1,df20748206e4b865b2f14a5eabbfcf34,unavailable,2018-01-16 14:27:59,2018-01-17 03:37:34,NaT,NaT,2018-02-06,0 days 13:09:35,NaT,NaT,NaT,NaT,NaT,NaT
99348,a69ba794cc7deb415c3e15a0a3877e69,726f0894b5becdf952ea537d5266e543,unavailable,2017-08-23 16:28:04,2017-08-28 15:44:47,NaT,NaT,2017-09-15,4 days 23:16:43,NaT,NaT,NaT,NaT,NaT,NaT
99415,5fabc81b6322c8443648e1b21a6fef21,32c9df889d41b0ee8309a5efb6855dcb,unavailable,2017-10-10 10:50:03,2017-10-14 18:35:57,NaT,NaT,2017-10-23,4 days 07:45:54,NaT,NaT,NaT,NaT,NaT,NaT

In [282]:
dforder[dforder["order_status"]=="unavailable"].isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                     0
order_delivered_carrier_date        609
order_delivered_customer_date       609
order_estimated_delivery_date         0
difference_days1                      0
difference_days2                    609
difference_days3                    609
difference_days4                    609
difference_days5                    609
order_approved_at_new               609
order_delivered_carrier_date_new    609
dtype: int64

In [283]:
# solo han sido aprobados
dforder[dforder["order_status"]=="approved"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
44897,a2e4c44360b4a57bdff22f3a4630c173,8886130db0ea6e9e70ba0b03d7c0d286,approved,2017-02-06 20:18:17,2017-02-06 20:30:19,NaT,NaT,2017-03-01,0 days 00:12:02,NaT,NaT,NaT,NaT,NaT,NaT
88457,132f1e724165a07f6362532bfb97486e,b2191912d8ad6eac2e4dc3b6e1459515,approved,2017-04-25 01:25:34,2017-04-30 20:32:41,NaT,NaT,2017-05-22,5 days 19:07:07,NaT,NaT,NaT,NaT,NaT,NaT

In [284]:
# solo han sido aprobados
dforder[dforder["order_status"]=="invoiced"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
6,136cce7faa42fdb2cefd53fdc79a6098,ed0271e0b7da060a393796590e7b737a,invoiced,2017-04-11 12:22:08,2017-04-13 13:25:17,NaT,NaT,2017-05-09,2 days 01:03:09,NaT,NaT,NaT,NaT,NaT,NaT
103,0760a852e4e9d89eb77bf631eaaf1c84,d2a79636084590b7465af8ab374a8cf5,invoiced,2018-08-03 17:44:42,2018-08-07 06:15:14,NaT,NaT,2018-08-21,3 days 12:30:32,NaT,NaT,NaT,NaT,NaT,NaT
455,38b7efdf33dd5561f4f5d4f6e07b0414,021e84751ba0ead75b6d314a6ead88d9,invoiced,2017-08-01 18:17:41,2017-08-01 18:32:30,NaT,NaT,2017-08-28,0 days 00:14:49,NaT,NaT,NaT,NaT,NaT,NaT
1833,51b0dccc8596ce37a930dff2d63a10a2,31bf1057b00f14804278590bbac18b1b,invoiced,2017-05-05 22:34:48,2017-05-05 22:45:12,NaT,NaT,2017-06-06,0 days 00:10:24,NaT,NaT,NaT,NaT,NaT,NaT
2116,5504eaa5a86eb25fa666cf2e6b96c701,a30be38e1ed0ffb39b318bf1d15e98d9,invoiced,2017-11-29 08:33:06,2017-11-29 08:56:23,NaT,NaT,2017-12-20,0 days 00:23:17,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98414,41ad2ae32ee66c07ef3b0301ba02ad27,5c7f8d14a0a12198d1d07167d7d343b3,invoiced,2017-11-24 15:54:47,2017-11-24 19:33:24,NaT,NaT,2017-12-18,0 days 03:38:37,NaT,NaT,NaT,NaT,NaT,NaT
98624,9ffb325177b96c422447e3b9ee9a6270,e4079117ea0dc8bc27274e34c4796515,invoiced,2018-05-10 19:11:18,2018-05-10 19:37:27,NaT,NaT,2018-06-05,0 days 00:26:09,NaT,NaT,NaT,NaT,NaT,NaT
98845,021dac6e3120485db6a77474aa21b979,c40f7f00e91eb8a0da1e58484380a796,invoiced,2017-11-24 22:46:09,2017-11-25 01:53:42,NaT,NaT,2017-12-15,0 days 03:07:33,NaT,NaT,NaT,NaT,NaT,NaT
99031,c526fe83c01c48066394ff5d81f9ab9a,6c678c38f3a0874b7bfeeb2d5fb22876,invoiced,2018-08-07 11:11:30,2018-08-07 11:25:01,NaT,NaT,2018-08-17,0 days 00:13:31,NaT,NaT,NaT,NaT,NaT,NaT
99066,46bdec7cc92d926500bee756ee1df6dc,0cfcefc0ed0af6a2e601540feeac24e7,invoiced,2018-07-16 13:20:06,2018-07-16 13:30:35,NaT,NaT,2018-08-06,0 days 00:10:29,NaT,NaT,NaT,NaT,NaT,NaT

In [285]:
dforder[dforder["order_status"]=="invoiced"].isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                     0
order_delivered_carrier_date        314
order_delivered_customer_date       314
order_estimated_delivery_date         0
difference_days1                      0
difference_days2                    314
difference_days3                    314
difference_days4                    314
difference_days5                    314
order_approved_at_new               314
order_delivered_carrier_date_new    314
dtype: int64

In [286]:
#aun no llega al transportador
dforder[dforder["order_status"]=="processing"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
128,15bed8e2fec7fdbadb186b57c46c92f2,f3f0e613e0bdb9c7cee75504f0f90679,processing,2017-09-03 14:22:03,2017-09-03 14:30:09,NaT,NaT,2017-10-03,0 days 00:08:06,NaT,NaT,NaT,NaT,NaT,NaT
324,d3c8851a6651eeff2f73b0e011ac45d0,957f8e082185574de25992dc659ebbc0,processing,2016-10-05 22:44:13,2016-10-06 15:51:05,NaT,NaT,2016-12-09,0 days 17:06:52,NaT,NaT,NaT,NaT,NaT,NaT
741,6a6c7d523fd59eb5bbefc007331af717,d954782ec6c0e911292c8a80757ef28d,processing,2017-11-24 20:09:33,2017-11-24 23:15:15,NaT,NaT,2017-12-20,0 days 03:05:42,NaT,NaT,NaT,NaT,NaT,NaT
1192,745e1d4a7f8c4b548881788d4113bb1d,7198d7088442e4ddfe553353d8ddc957,processing,2017-11-17 06:34:36,2017-11-18 02:15:40,NaT,NaT,2017-12-12,0 days 19:41:04,NaT,NaT,NaT,NaT,NaT,NaT
1516,1d52ba7197c7acebbb4f826f6585536f,c9c7fe860d602373a9e93f8bfe9d877a,processing,2017-02-13 18:32:55,2017-02-13 18:43:55,NaT,NaT,2017-04-04,0 days 00:11:00,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97400,dcdfc540e42725663242bb884c28f0a6,38972104038aa68fcc61277dbf6e7ca9,processing,2017-10-30 10:46:44,2017-10-30 11:09:55,NaT,NaT,2017-11-23,0 days 00:23:11,NaT,NaT,NaT,NaT,NaT,NaT
97666,e471815e7114cdb474064f7dbb1a8b67,092c9316ae71b2fe43e526043f351967,processing,2017-12-20 11:00:02,2017-12-20 11:10:43,NaT,NaT,2018-02-02,0 days 00:10:41,NaT,NaT,NaT,NaT,NaT,NaT
98089,10951d02d64917a34959abeb8130601e,3e6754e591ff3568ccc5bf69a649918c,processing,2018-02-13 21:02:02,2018-02-15 04:11:21,NaT,NaT,2018-03-13,1 days 07:09:19,NaT,NaT,NaT,NaT,NaT,NaT
99140,aea0db338150b526dde24f6fd953a5ed,379a02efdc6a56bd27f99b95fc2f6c06,processing,2017-12-26 21:56:13,2017-12-26 22:05:26,NaT,NaT,2018-01-26,0 days 00:09:13,NaT,NaT,NaT,NaT,NaT,NaT
99313,e9e64a17afa9653aacf2616d94c005b8,b4cd0522e632e481f8eaf766a2646e86,processing,2018-01-05 23:07:24,2018-01-09 07:18:05,NaT,NaT,2018-02-06,3 days 08:10:41,NaT,NaT,NaT,NaT,NaT,NaT

In [287]:
dforder[dforder["order_status"]=="processing"].isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                     0
order_delivered_carrier_date        301
order_delivered_customer_date       301
order_estimated_delivery_date         0
difference_days1                      0
difference_days2                    301
difference_days3                    301
difference_days4                    301
difference_days5                    301
order_approved_at_new               301
order_delivered_carrier_date_new    301
dtype: int64

In [288]:
# aun no llega  al comprador
dforder[dforder["order_status"]=="shipped"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
44,ee64d42b8cf066f35eac1cf57de1aa85,caded193e8e47b8362864762a83db3c5,shipped,2018-06-04 16:44:48,2018-06-05 04:31:18,2018-06-05 14:32:00,NaT,2018-06-28,0 days 11:46:30,0 days 10:00:42,NaT,NaT,NaT,2018-06-05 03:38:24.000,NaT
154,6942b8da583c2f9957e990d028607019,52006a9383bf149a4fb24226b173106f,shipped,2018-01-10 11:33:07,2018-01-11 02:32:30,2018-01-11 19:39:23,NaT,2018-02-07,0 days 14:59:23,0 days 17:06:53,NaT,NaT,NaT,2018-01-11 03:36:15.000,NaT
162,36530871a5e80138db53bcfd8a104d90,4dafe3c841d2d6cc8a8b6d25b35704b9,shipped,2017-05-09 11:48:37,2017-05-11 11:45:14,2017-05-11 13:21:47,NaT,2017-06-08,1 days 23:56:37,0 days 01:36:33,NaT,NaT,NaT,2017-05-10 12:35:12.000,NaT
231,4d630f57194f5aba1a3d12ce23e71cd9,6d491c9fe2f04f6e2af6ec033cd8907c,shipped,2017-11-17 19:53:21,2017-11-18 19:50:31,2017-11-22 17:28:34,NaT,2017-12-13,0 days 23:57:10,3 days 21:38:03,NaT,NaT,NaT,2017-11-20 06:40:57.500,NaT
299,3b4ad687e7e5190db827e1ae5a8989dd,1a87b8517b7d31373b50396eb15cb445,shipped,2018-06-28 12:52:15,2018-06-28 13:11:09,2018-07-04 15:20:00,NaT,2018-08-03,0 days 00:18:54,6 days 02:08:51,NaT,NaT,NaT,2018-07-01 14:06:07.500,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98534,a59ef0abffbef8ddaae23600b6ee6604,49e64271fb8eeb19851dc7e850e92204,shipped,2017-11-06 17:35:49,2017-11-07 06:31:44,2017-11-07 18:57:39,NaT,2017-11-24,0 days 12:55:55,0 days 12:25:55,NaT,NaT,NaT,2017-11-07 06:16:44.000,NaT
98779,dab8a6c6bd6ec448df5b3a6b6cb887bc,394653a10cab83cad40d7e2713f3ab89,shipped,2018-07-14 10:12:51,2018-07-16 12:30:58,2018-07-16 14:34:00,NaT,2018-08-03,2 days 02:18:07,0 days 02:03:02,NaT,NaT,NaT,2018-07-15 12:23:25.500,NaT
98932,492aed3c33bac22a8e04138319829283,58466c1166c377a56f6b2ae0d93ffbc0,shipped,2018-07-06 16:26:47,2018-07-06 16:35:10,2018-07-10 12:27:00,NaT,2018-07-26,0 days 00:08:23,3 days 19:51:50,NaT,NaT,NaT,2018-07-08 14:26:53.500,NaT
99113,274a7f7e4f1c17b7434a830e9b8759b1,670af30ca5b8c20878fecdafa5ee01b9,shipped,2018-06-23 13:25:15,2018-06-23 13:40:11,2018-07-04 13:51:00,NaT,2018-07-24,0 days 00:14:56,11 days 00:10:49,NaT,NaT,NaT,2018-06-29 01:38:07.500,NaT
99181,636cdd02667dc8d76d9296bf20a6890a,c162256b133c76f79181ce61d66545db,shipped,2018-02-17 14:31:22,2018-02-20 07:11:31,2018-02-20 19:18:58,NaT,2018-03-14,2 days 16:40:09,0 days 12:07:27,NaT,NaT,NaT,2018-02-19 04:55:10.000,NaT

In [289]:
dforder[dforder["order_status"]=="shipped"].isnull().sum()

order_id                               0
customer_id                            0
order_status                           0
order_purchase_timestamp               0
order_approved_at                      0
order_delivered_carrier_date           9
order_delivered_customer_date       1107
order_estimated_delivery_date          0
difference_days1                       0
difference_days2                       9
difference_days3                    1107
difference_days4                    1107
difference_days5                    1107
order_approved_at_new                  0
order_delivered_carrier_date_new    1107
dtype: int64

In [290]:
#ya llego al comprador
dforder[dforder["order_status"]=="delivered"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,0 days 00:10:42,2 days 08:47:45,8 days 10:17:58,6 days 01:30:13,7 days 02:34:47,2017-10-03 15:25:46.500,2017-10-06 16:16:14.000
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1 days 06:42:50,0 days 11:06:33,12 days 12:03:18,12 days 00:56:45,5 days 08:32:15,2018-07-25 17:36:18.500,2018-08-01 09:26:06.000
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,0 days 00:16:34,0 days 04:54:37,9 days 09:11:06,9 days 04:16:29,17 days 05:53:31,2018-08-08 11:14:24.500,2018-08-13 01:30:56.000
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,0 days 00:17:53,3 days 17:54:00,13 days 04:42:43,9 days 10:48:43,12 days 23:31:18,2017-11-20 16:34:02.500,2017-11-25 10:07:20.500
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,0 days 01:01:50,0 days 21:26:05,2 days 19:56:33,1 days 22:30:28,9 days 05:42:58,2018-02-14 08:32:36.500,2018-02-15 08:18:45.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,0 days 00:00:00,1 days 01:23:58,8 days 05:13:56,7 days 03:49:58,10 days 08:51:59,2017-03-09 22:36:04.000,2017-03-13 12:31:03.000
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,0 days 00:11:39,1 days 10:12:05,22 days 04:27:19,20 days 18:15:14,1 days 06:22:04,2018-02-07 06:10:50.000,2018-02-17 15:24:16.500
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,0 days 00:17:33,1 days 05:48:10,24 days 20:20:01,23 days 14:31:51,5 days 12:35:43,2017-08-28 05:49:34.500,2017-09-09 01:14:16.500
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,0 days 00:07:54,3 days 17:58:42,17 days 01:56:33,13 days 07:57:51,20 days 00:27:06,2018-01-10 18:31:45.000,2018-01-17 10:34:37.500
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,0 days 14:22:58,0 days 10:51:31,7 days 01:48:02,6 days 14:56:31,17 days 10:51:30,2018-03-09 09:34:44.500,2018-03-13 00:14:29.000

In [291]:
#Presneta algunso vacios que se pueden arreglar
dforder[dforder["order_status"]=="delivered"].isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                   14
order_delivered_carrier_date         2
order_delivered_customer_date        8
order_estimated_delivery_date        0
difference_days1                    14
difference_days2                    16
difference_days3                    22
difference_days4                     9
difference_days5                     8
order_approved_at_new                2
order_delivered_carrier_date_new    22
dtype: int64

In [292]:
#Presenta vacios no completables
dforder[(dforder["order_status"]=="delivered") & (dforder["order_delivered_customer_date"].isnull())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
3002,2d1e2d5bf4dc7227b3bfebb81328c15f,ec05a6d8558c6455f0cbbd8a420ad34f,delivered,2017-11-28 17:44:07,2017-11-28 17:56:40,2017-11-30 18:12:23,NaT,2017-12-18,0 days 00:12:33,2 days 00:15:43,NaT,NaT,NaT,2017-11-29 17:58:15.000,NaT
20618,f5dd62b788049ad9fc0526e3ad11a097,5e89028e024b381dc84a13a3570decb4,delivered,2018-06-20 06:58:43,2018-06-20 07:19:05,2018-06-25 08:05:00,NaT,2018-07-16,0 days 00:20:22,5 days 00:45:55,NaT,NaT,NaT,2018-06-22 19:31:51.500,NaT
43834,2ebdfc4f15f23b91474edf87475f108e,29f0540231702fda0cfdee0a310f11aa,delivered,2018-07-01 17:05:11,2018-07-01 17:15:12,2018-07-03 13:57:00,NaT,2018-07-30,0 days 00:10:01,1 days 20:41:48,NaT,NaT,NaT,2018-07-02 15:31:05.500,NaT
79263,e69f75a717d64fc5ecdfae42b2e8e086,cfda40ca8dd0a5d486a9635b611b398a,delivered,2018-07-01 22:05:55,2018-07-01 22:15:14,2018-07-03 13:57:00,NaT,2018-07-30,0 days 00:09:19,1 days 15:41:46,NaT,NaT,NaT,2018-07-02 18:01:27.500,NaT
82868,0d3268bad9b086af767785e3f0fc0133,4f1d63d35fb7c8999853b2699f5c7649,delivered,2018-07-01 21:14:02,2018-07-01 21:29:54,2018-07-03 09:28:00,NaT,2018-07-24,0 days 00:15:52,1 days 11:58:06,NaT,NaT,NaT,2018-07-02 15:21:01.000,NaT
92643,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaT,NaT,2017-06-23,0 days 00:07:33,NaT,NaT,NaT,NaT,NaT,NaT
97647,ab7c89dc1bf4a1ead9d6ec1ec8968a84,dd1b84a7286eb4524d52af4256c0ba24,delivered,2018-06-08 12:09:39,2018-06-08 12:36:39,2018-06-12 14:10:00,NaT,2018-06-26,0 days 00:27:00,4 days 01:33:21,NaT,NaT,NaT,2018-06-10 13:09:49.500,NaT
98038,20edc82cf5400ce95e1afacc25798b31,28c37425f1127d887d7337f284080a0f,delivered,2018-06-27 16:09:12,2018-06-27 16:29:30,2018-07-03 19:26:00,NaT,2018-07-19,0 days 00:20:18,6 days 02:56:30,NaT,NaT,NaT,2018-06-30 17:47:36.000,NaT

In [293]:
#Presenta un vacio completable
dforder[(dforder["order_status"]=="delivered") & (dforder["order_delivered_carrier_date"].isnull())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
73222,2aa91108853cecb43c84a5dc5b277475,afeb16c7f46396c0ed54acb45ccaaa40,delivered,2017-09-29 08:52:58,2017-09-29 09:07:16,NaT,2017-11-20 19:44:47,2017-11-14,0 days 00:14:18,NaT,52 days 10:37:31,NaT,-7 days +04:15:13,NaT,2017-10-25 14:26:01.500
92643,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaT,NaT,2017-06-23,0 days 00:07:33,NaT,NaT,NaT,NaT,NaT,NaT

In [294]:
#Completando ordeer_carrier_data vacio
dforder["order_delivered_carrier_date_new"]=dforder["order_approved_at"]+(dforder["order_delivered_customer_date"]-dforder["order_approved_at"])/2
dforder.loc[(dforder["order_status"]=="delivered") & (dforder["order_delivered_carrier_date"].isnull()),"order_delivered_carrier_date"]=dforder.loc[(dforder["order_status"]=="delivered") & (dforder["order_delivered_carrier_date"].isnull()),"order_delivered_carrier_date_new"]

In [295]:
#nose puede completar
dforder[(dforder["order_status"]=="delivered") & (dforder["order_delivered_carrier_date"].isnull())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
92643,2d858f451373b04fb5c984a1cc2defaf,e08caf668d499a6d643dafd7c5cc498a,delivered,2017-05-25 23:22:43,2017-05-25 23:30:16,NaT,NaT,2017-06-23,0 days 00:07:33,NaT,NaT,NaT,NaT,NaT,NaT

In [296]:
#cambiando un registro de delivered  a aproved
dforder.loc[(dforder["order_status"]=="delivered") & (dforder["order_delivered_carrier_date"].isnull()),"order_status"]="approved"

In [297]:
#presenta vacios completables en order_aprroved_at
dforder[(dforder["order_status"]=="delivered") & (dforder["order_approved_at"].isnull())]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
5323,e04abd8149ef81b95221e88f6ed9ab6a,2127dc6603ac33544953ef05ec155771,delivered,2017-02-18 14:40:00,NaT,2017-02-23 12:04:47,2017-03-01 13:25:33,2017-03-17,NaT,NaT,NaT,6 days 01:20:46,15 days 10:34:27,2017-02-21 01:22:23.500,NaT
16567,8a9adc69528e1001fc68dd0aaebbb54a,4c1ccc74e00993733742a3c786dc3c1f,delivered,2017-02-18 12:45:31,NaT,2017-02-23 09:01:52,2017-03-02 10:05:06,2017-03-21,NaT,NaT,NaT,7 days 01:03:14,18 days 13:54:54,2017-02-20 22:53:41.500,NaT
19031,7013bcfc1c97fe719a7b5e05e61c12db,2941af76d38100e0f8740a374f1a5dc3,delivered,2017-02-18 13:29:47,NaT,2017-02-22 16:25:25,2017-03-01 08:07:38,2017-03-17,NaT,NaT,NaT,6 days 15:42:13,15 days 15:52:22,2017-02-20 14:57:36.000,NaT
22663,5cf925b116421afa85ee25e99b4c34fb,29c35fc91fc13fb5073c8f30505d860d,delivered,2017-02-18 16:48:35,NaT,2017-02-22 11:23:10,2017-03-09 07:28:47,2017-03-31,NaT,NaT,NaT,14 days 20:05:37,21 days 16:31:13,2017-02-20 14:05:52.500,NaT
23156,12a95a3c06dbaec84bcfb0e2da5d228a,1e101e0daffaddce8159d25a8e53f2b2,delivered,2017-02-17 13:05:55,NaT,2017-02-22 11:23:11,2017-03-02 11:09:19,2017-03-20,NaT,NaT,NaT,7 days 23:46:08,17 days 12:50:41,2017-02-20 00:14:33.000,NaT
26800,c1d4211b3dae76144deccd6c74144a88,684cb238dc5b5d6366244e0e0776b450,delivered,2017-01-19 12:48:08,NaT,2017-01-25 14:56:50,2017-01-30 18:16:01,2017-03-01,NaT,NaT,NaT,5 days 03:19:11,29 days 05:43:59,2017-01-22 13:52:29.000,NaT
38290,d69e5d356402adc8cf17e08b5033acfb,68d081753ad4fe22fc4d410a9eb1ca01,delivered,2017-02-19 01:28:47,NaT,2017-02-23 03:11:48,2017-03-02 03:41:58,2017-03-27,NaT,NaT,NaT,7 days 00:30:10,24 days 20:18:02,2017-02-21 02:20:17.500,NaT
39334,d77031d6a3c8a52f019764e68f211c69,0bf35cac6cc7327065da879e2d90fae8,delivered,2017-02-18 11:04:19,NaT,2017-02-23 07:23:36,2017-03-02 16:15:23,2017-03-22,NaT,NaT,NaT,7 days 08:51:47,19 days 07:44:37,2017-02-20 21:13:57.500,NaT
48401,7002a78c79c519ac54022d4f8a65e6e8,d5de688c321096d15508faae67a27051,delivered,2017-01-19 22:26:59,NaT,2017-01-27 11:08:05,2017-02-06 14:22:19,2017-03-16,NaT,NaT,NaT,10 days 03:14:14,37 days 09:37:41,2017-01-23 16:47:32.000,NaT
61743,2eecb0d85f281280f79fa00f9cec1a95,a3d3c38e58b9d2dfb9207cab690b6310,delivered,2017-02-17 17:21:55,NaT,2017-02-22 11:42:51,2017-03-03 12:16:03,2017-03-20,NaT,NaT,NaT,9 days 00:33:12,16 days 11:43:57,2017-02-20 02:32:23.000,NaT
63052,51eb2eebd5d76a24625b31c33dd41449,07a2a7e0f63fd8cb757ed77d4245623c,delivered,2017-02-18 15:52:27,NaT,2017-02-23 03:09:14,2017-03-07 13:57:47,2017-03-29,NaT,NaT,NaT,12 days 10:48:33,21 days 10:02:13,2017-02-20 21:30:50.500,NaT
67697,88083e8f64d95b932164187484d90212,f67cd1a215aae2a1074638bbd35a223a,delivered,2017-02-18 22:49:19,NaT,2017-02-22 11:31:06,2017-03-02 12:06:06,2017-03-21,NaT,NaT,NaT,8 days 00:35:00,18 days 11:53:54,2017-02-20 17:10:12.500,NaT
72407,3c0b8706b065f9919d0505d3b3343881,d85919cb3c0529589c6fa617f5f43281,delivered,2017-02-17 15:53:27,NaT,2017-02-22 11:31:30,2017-03-03 11:47:47,2017-03-23,NaT,NaT,NaT,9 days 00:16:17,19 days 12:12:13,2017-02-20 01:42:28.500,NaT
84999,2babbb4b15e6d2dfe95e2de765c97bce,74bebaf46603f9340e3b50c6b086f992,delivered,2017-02-18 17:15:03,NaT,2017-02-22 11:23:11,2017-03-03 18:43:43,2017-03-31,NaT,NaT,NaT,9 days 07:20:32,27 days 05:16:17,2017-02-20 14:19:07.000,NaT

In [298]:
#Modifica la columna order_approved_at para llenar sus vacios
dforder["order_approved_at_new"]=dforder["order_purchase_timestamp"]+(dforder["order_delivered_carrier_date"]-dforder["order_purchase_timestamp"])/2
dforder.loc[(dforder["order_status"]=="delivered") & (dforder["order_approved_at"].isnull()),"order_approved_at"]=dforder.loc[(dforder["order_status"]=="delivered") & (dforder["order_approved_at"].isnull()),"order_approved_at_new"]

In [299]:
#Cmabiando order status de delivered a shipped cuadno presenta vacios en order_delivered_customer_dat
dforder.loc[(dforder["order_status"]=="delivered")&(dforder["order_delivered_customer_date"].isnull()),"order_status"]="shipped"

In [300]:
#Verificamos que no queden vacios
dforder[dforder["order_status"]=="delivered"].isnull().sum()

order_id                             0
customer_id                          0
order_status                         0
order_purchase_timestamp             0
order_approved_at                    0
order_delivered_carrier_date         0
order_delivered_customer_date        0
order_estimated_delivery_date        0
difference_days1                    14
difference_days2                    15
difference_days3                    14
difference_days4                     1
difference_days5                     0
order_approved_at_new                0
order_delivered_carrier_date_new    14
dtype: int64

In [301]:
#Vemos las ordenes que fueron canceladas
dforder[dforder["order_status"]=="canceled"]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
397,1b9ecfe83cdc259250e1a8aca174f0ad,6d6b50b66d79f80827b6d96751528d30,canceled,2018-08-04 14:29:27,2018-08-07 04:10:26,NaT,NaT,2018-08-14,2 days 13:40:59,NaT,NaT,NaT,NaT,NaT,NaT
613,714fb133a6730ab81fa1d3c1b2007291,e3fe72696c4713d64d3c10afe71e75ed,canceled,2018-01-26 21:34:08,2018-01-26 21:58:39,2018-01-29 22:33:25,NaT,2018-02-22,0 days 00:24:31,3 days 00:34:46,NaT,NaT,NaT,2018-01-28 10:03:46.500,NaT
1058,3a129877493c8189c59c60eb71d97c29,0913cdce793684e52bbfac69d87e91fd,canceled,2018-01-25 13:34:24,2018-01-25 13:50:20,2018-01-26 21:42:18,NaT,2018-02-23,0 days 00:15:56,1 days 07:51:58,NaT,NaT,NaT,2018-01-26 05:38:21.000,NaT
1130,00b1cb0320190ca0daa2c88b35206009,3532ba38a3fd242259a514ac2b6ae6b6,canceled,2018-08-28 15:26:39,NaT,NaT,NaT,2018-09-12,NaT,NaT,NaT,NaT,NaT,NaT,NaT
1801,ed3efbd3a87bea76c2812c66a0b32219,191984a8ba4cbb2145acb4fe35b69664,canceled,2018-09-20 13:54:16,NaT,NaT,NaT,2018-10-17,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98791,b159d0ce7cd881052da94fa165617b05,e0c3bc5ce0836b975d6b2a8ce7bb0e3e,canceled,2017-03-11 19:51:36,2017-03-11 19:51:36,NaT,NaT,2017-03-30,0 days 00:00:00,NaT,NaT,NaT,NaT,NaT,NaT
98909,e49e7ce1471b4693482d40c2bd3ad196,e4e7ab3f449aeb401f0216f86c2104db,canceled,2018-08-07 11:16:28,NaT,NaT,NaT,2018-08-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT
99143,6560fb10610771449cb0463c5ba12199,0d07d0a588caf93cc66b7a8aff86d2fe,canceled,2017-10-01 22:26:25,2017-10-01 22:35:22,NaT,NaT,2017-10-27,0 days 00:08:57,NaT,NaT,NaT,NaT,NaT,NaT
99283,3a3cddda5a7c27851bd96c3313412840,0b0d6095c5555fe083844281f6b093bb,canceled,2018-08-31 16:13:44,NaT,NaT,NaT,2018-10-01,NaT,NaT,NaT,NaT,NaT,NaT,NaT
99347,a89abace0dcc01eeb267a9660b5ac126,2f0524a7b1b3845a1a57fcf3910c4333,canceled,2018-09-06 18:45:47,NaT,NaT,NaT,2018-09-27,NaT,NaT,NaT,NaT,NaT,NaT,NaT

In [302]:
dforder[dforder["order_status"]=="canceled"].isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   141
order_delivered_carrier_date        550
order_delivered_customer_date       619
order_estimated_delivery_date         0
difference_days1                    141
difference_days2                    550
difference_days3                    619
difference_days4                    619
difference_days5                    619
order_approved_at_new               550
order_delivered_carrier_date_new    619
dtype: int64

In [303]:
#Todo correcto
dforder.loc[(dforder["order_status"]=="canceled") & (dforder["order_delivered_customer_date"].notnull()),:]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,difference_days1,difference_days2,difference_days3,difference_days4,difference_days5,order_approved_at_new,order_delivered_carrier_date_new
2921,1950d777989f6a877539f53795b4c3c3,1bccb206de9f0f25adc6871a1bcf77b2,canceled,2018-02-19 19:48:52,2018-02-19 20:56:05,2018-02-20 19:57:13,2018-03-21 22:03:51,2018-03-09,0 days 01:07:13,0 days 23:01:08,30 days 01:07:46,29 days 02:06:38,-13 days +01:56:09,2018-02-20 07:53:02.500,2018-03-06 21:29:58.000
8791,dabf2b0e35b423f94618bf965fcb7514,5cdec0bb8cbdf53ffc8fdc212cd247c6,canceled,2016-10-09 00:56:52,2016-10-09 13:36:58,2016-10-13 13:36:59,2016-10-16 14:36:59,2016-11-30,0 days 12:40:06,4 days 00:00:01,7 days 01:00:01,3 days 01:00:00,44 days 09:23:01,2016-10-11 07:16:55.500,2016-10-13 02:06:58.500
58266,770d331c84e5b214bd9dc70a10b829d0,6c57e6119369185e575b36712766b0ef,canceled,2016-10-07 14:52:30,2016-10-07 15:07:10,2016-10-11 15:07:11,2016-10-14 15:07:11,2016-11-29,0 days 00:14:40,4 days 00:00:01,7 days 00:00:01,3 days 00:00:00,45 days 08:52:49,2016-10-09 14:59:50.500,2016-10-11 03:07:10.500
59332,8beb59392e21af5eb9547ae1a9938d06,bf609b5741f71697f65ce3852c5d2623,canceled,2016-10-08 20:17:50,2016-10-09 14:34:30,2016-10-14 22:45:26,2016-10-19 18:47:43,2016-11-30,0 days 18:16:40,5 days 08:10:56,10 days 04:13:13,4 days 20:02:17,41 days 05:12:17,2016-10-11 21:31:38.000,2016-10-14 16:41:06.500
92636,65d1e226dfaeb8cdc42f665422522d14,70fc57eeae292675927697fe03ad3ff5,canceled,2016-10-03 21:01:41,2016-10-04 10:18:57,2016-10-25 12:14:28,2016-11-08 10:58:34,2016-11-25,0 days 13:17:16,21 days 01:55:31,35 days 00:39:37,13 days 22:44:06,16 days 13:01:26,2016-10-14 16:38:04.500,2016-10-21 22:38:45.500
94399,2c45c33d2f9cb8ff8b1c86cc28c11c30,de4caa97afa80c8eeac2ff4c8da5b72e,canceled,2016-10-09 15:39:56,2016-10-10 10:40:49,2016-10-14 10:40:50,2016-11-09 14:53:50,2016-12-08,0 days 19:00:53,4 days 00:00:01,30 days 04:13:01,26 days 04:13:00,28 days 09:06:10,2016-10-12 01:10:23.000,2016-10-25 12:47:19.500

In [304]:
#Nada que arreglar
dforder.loc[(dforder["order_status"]=="canceled") & (dforder["order_delivered_carrier_date"].notnull()) & (dforder["order_approved_at"].isnull()),:]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [305]:
#Nada que arreglar
dforder.loc[(dforder["order_status"]=="canceled") & (dforder["order_delivered_carrier_date"].notnull())& (dforder["order_purchase_timestamp"].isnull()),:]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [306]:
#Nada que arreglar
dforder.loc[(dforder["order_status"]=="canceled") & (dforder["order_approved_at"].notnull()) & (dforder["order_purchase_timestamp"].isnull()),:]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date, difference_days1, difference_days2, difference_days3, difference_days4, difference_days5, order_approved_at_new, order_delivered_carrier_date_new]
Index: []

In [307]:
dforder[dforder["order_status"]=="canceled"].isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   141
order_delivered_carrier_date        550
order_delivered_customer_date       619
order_estimated_delivery_date         0
difference_days1                    141
difference_days2                    550
difference_days3                    619
difference_days4                    619
difference_days5                    619
order_approved_at_new               550
order_delivered_carrier_date_new    619
dtype: int64

In [308]:
#Eliminamos columnas auxiliares
dforder.drop(columns=["difference_days1","difference_days2","difference_days3","difference_days4","difference_days5","order_approved_at_new","order_delivered_carrier_date_new"],inplace=True)

In [309]:
#union con el dataframe obtenido en el ETL de dfpayments
dforder=pd.merge(left=dforder,right=dftotalordercost,on="order_id",how="outer")

In [310]:
dforder.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_type,total_order_cost
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,credit_cardvouchervoucher,38.71
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,boleto,141.46
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,credit_card,179.12
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,credit_card,72.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,credit_card,28.62

In [311]:
dforder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99295 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97650 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
 8   payment_type                   99440 non-null  object
 9   total_order_cost               99440 non-null  float64
dtypes: datetime64[ns](5), float64(1), object(4)
memory usage: 7.6+ MB

In [312]:
#Exportamos csv final
dforder.to_csv("../Datasets/datasetsout/olist_orders_dataset.csv",index=False)

## ETL olist_sellers_dataset

In [313]:
dfsellers=df10

In [314]:
dfsellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,04195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [315]:
dfsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   object
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: object(4)
memory usage: 96.8+ KB

In [316]:
#Eliminamos las colummnas redundantes
dfsellers.drop(columns=["seller_city","seller_state"],axis=1,inplace=True)

In [317]:
#Tabla auxiliar para agregar seller_id encontrados en close deal  a sellers
mergeauxiliar=pd.merge(left=dfsellers,right=dfclosed,how="outer",on="seller_id")
dfsellers=mergeauxiliar.iloc[:,0:2]

In [318]:
#Llenamos vacios de la columna seller_zip_code_prefix"
dfsellers.loc[dfsellers["seller_zip_code_prefix"].isnull(),"seller_zip_code_prefix"]="SIN DATO"

In [319]:
dfsellers.head()

                          seller_id seller_zip_code_prefix
0  3442f8959a84dea7ee197c632cb2df15                  13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                  13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                  20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                  04195
4  51a04a8a6bdcb23deccc82b0b80742cf                  12914

In [320]:
dfsellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3557 entries, 0 to 3556
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3557 non-null   object
 1   seller_zip_code_prefix  3557 non-null   object
dtypes: object(2)
memory usage: 55.7+ KB

In [321]:
#Exportamos csv final
dfsellers.to_csv("../Datasets/datasetsout/olist_sellers_dataset.csv",index=False)

## ETL olist_products_dataset.csv

In [322]:
dfproducts=df9

In [323]:
dfproducts.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [324]:
dfproducts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

In [325]:
#Llenamos vacios en la columna product_photos_qty
dfproducts["product_photos_qty"].fillna(0.0,inplace=True)

In [326]:
#Cambiamos tipo de dato a int de la columna product_photos_qty"
dfproducts["product_photos_qty"] = dfproducts["product_photos_qty"] .astype("int")

In [327]:
#Cambiamos los nombres de la columna product_category_name reemplazando "_" por espacio
dfproducts["product_category_name"]=dfproducts["product_category_name"].str.replace("_"," ")

In [328]:
#Eliminamos columnas que no usaremos
dfproducts.drop(columns=["product_name_lenght","product_description_lenght","product_weight_g","product_length_cm","product_height_cm","product_width_cm"],axis=1,inplace=True)

In [329]:
dfproducts.head()

                         product_id  product_category_name  product_photos_qty
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria                   1
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes                   1
2  96bd76ec8810374ed1b65e291975717f          esporte lazer                   1
3  cef67bcfe19066a932b7673e239eb23d                  bebes                   1
4  9dc1a7de274444849c219cff195d0b71  utilidades domesticas                   4

In [330]:
dfproducts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   product_id             32951 non-null  object
 1   product_category_name  32341 non-null  object
 2   product_photos_qty     32951 non-null  int32
dtypes: int32(1), object(2)
memory usage: 643.7+ KB

In [331]:
#Exportamos csv final
dfproducts.to_csv("../Datasets/datasetsout/olist_products_dataset.csv",index=False)

## ETL product_category_name_translation.csv

In [332]:
dfproductcategory=df11

In [333]:
dfproductcategory.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [334]:
dfproductcategory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [336]:
#agregnado filas con category name que se encuentra en dfproducts pero no en dfproductcategory
'''dfproductcategory=dfproductcategory.append({"product_category_name" : "pc_gamer" , "product_category_name_english" : "pc_gamer"} , ignore_index=True)
dfproductcategory=dfproductcategory.append({"product_category_name" : "portateis_cozinha_e_preparadores_de_alimentos" , "product_category_name_english" : "kitchen_and_food_preparation_racks"} , ignore_index=True)'''

'dfproductcategory=dfproductcategory.append({"product_category_name" : "pc_gamer" , "product_category_name_english" : "pc_gamer"} , ignore_index=True)\ndfproductcategory=dfproductcategory.append({"product_category_name" : "portateis_cozinha_e_preparadores_de_alimentos" , "product_category_name_english" : "kitchen_and_food_preparation_racks"} , ignore_index=True)'

In [337]:
#Cambiamos los nombres de la columna product_category_name y  product_category_name_english reemplazando "_" por espacio
dfproductcategory["product_category_name"]=dfproductcategory["product_category_name"].str.replace("_"," ")
dfproductcategory["product_category_name_english"]=dfproductcategory["product_category_name_english"].str.replace("_"," ")

In [338]:
dfproductcategory.head()

    product_category_name product_category_name_english
0            beleza saude                 health beauty
1  informatica acessorios         computers accessories
2              automotivo                          auto
3         cama mesa banho                bed bath table
4        moveis decoracao               furniture decor

In [339]:
dfproductcategory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [340]:
#Exportamos csv final
dfproductcategory.to_csv("../Datasets/datasetsout/product_category_name_translation.csv",index=False)

In [348]:
dfproducts["product_id"].value_counts()

product_id
1e9e8ef04dbcff4541ed26657ea517e5    1
d05cc9afc85771f597cf4bc9d8f12546    1
71b7afd92c42feab780d5ea512fc7348    1
5c5f3e091101bea69642eb3dd145b17d    1
16d47089f9bc7f16de16cc4bd3b9dd49    1
                                   ..
c154987c6780d1a2b579aae00e53485f    1
1a6c9da4039deae58c2b769f049ae121    1
4cb35e544a1de008f37e069f172f964e    1
b34b2c889f5b26963569cf421254e121    1
106392145fca363410d287a815be6de4    1
Name: count, Length: 32951, dtype: int64

In [344]:
dfproducts[dfproducts["product_category_name"]=="perfumaria"]

,product_id,product_category_name,product_photos_qty
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,1
16,6a2fb4dd53d2cdb88e0432f1284a004c,perfumaria,2
77,0d009643171aee696f4733340bc2fdd0,perfumaria,1
84,b1eae565a61935e0011ee7682fef9dc9,perfumaria,2
120,8da90b37f0fb171b4877c124f965b1f6,perfumaria,3
...,...,...,...
32710,8e01228e1cb067cf324c968542f2f032,perfumaria,1
32744,33bfc11487d18d2405f84661bc164f0f,perfumaria,1
32780,c49f7bd8ac21b2169dd273bfef92b82a,perfumaria,2
32919,6ebc84d95d4340324cf0cb525e495eed,perfumaria,1
32920,8b513669b649b09d186312b0406e68c8,perfumaria,1